<!-- Card Blog -->
<main class="bg-slate-50">
   

  <div class="max-w-[85rem] px-4 py-4 sm:px-4 lg:px-8 lg:py-4 mx-auto">
    <!-- Grid -->
  
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 ">
      <!-- Card -->
      {% for resource in site.architecture %}
     
      <a class="group relative flex flex-col w-full min-h- bg-blue-100 hover:bg-slate-50 bg-cover  hover:shadow-lg transition bg-[url('../..{{resource.image}}')]" href="{{resource.url}}">

      <div class="card bg-base-100 shadow-xl image-full h-80 bg-base-100 shadow-xl ">
        <figure><img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/assets/images/videos.png" alt="Videos" /></figure>
        <div class="card-body">
          <h2 class="card-title text-white"> {{resource.title}}</h2>
          <p>{{resource.excerpt}}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-cancel"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z" />
            </svg>
            </button>
          </div>
        </div>
      </div>
</a>


     
  
     
     
      {% endfor %}
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
  </main>



  <!--

     <a class="group rounded-xl overflow-hidden hover:shadow-lg hover:bg-slate-50   md:p-6" href="{{resource.url}}">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl ">
          <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{{resource.image}}" alt="{{resource.imagedescription}}">
         
        </div>
  
        <div class="mt-7">
          <h2 class="text-2xl mx-2 group-hover:text-blue-00 ">
            {{resource.title}}
          </h2>
          <p class="mt-5 mx-2 text-gray group-hover:text-black  text-xl ">
            {{resource.excerpt}}
          </p>
          <p class=" inline-flex items-center   decoration-2 text-xl">
           
            <div class="  mx-2   text-xl font-medium text-blue-600 ">
              <button type="button" class="   text-xl font-medium py-3  px-4 inline-flex justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-600 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all focus:ring-offset-gray-800">
                Watch
              </button>
            </div>
  
          </p>
          
        </div>
      </a>
  -->