 




</script>
<main class="bg-gradient-to-r  from-yellow-50 to-blue-200  min-h-screen" >

  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Dynamic Authz</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Dynamic Authorization Platform (PREVIEW)</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  Provide rule based access with JIT entitlements. Reduce risk in privileged access
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull enables Dynamic Authorization by modifying entitlements on the fly with rule based access</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  Endpoint logs are continously processed to provide a powerful solution that enables administrators to create rules that can be executed against endpoints.</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  Increase or decrease permissions on the fly.</p>

             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Schedule a Discussion</button>  </a>
            </div>
          
         
        </div>
        <div width="500px">

            <video autoplay="true" muted="" w="" name="AuthNull Demo Video" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
                <source src="/assets/videos/dit-preview.mov">
              </video>
          
        </div>
      </div>
    </div>
  </div>
</main> 



<!--
<main class="bg-gradient-to-r  from-pink-50 to-pink-200   min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">AI Assistant</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Leverage the next gen AI assistant powered by LLAMA2 for managing AuthZ</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  that can actually understand your PAM system, understand rules and permissions for each user on endpoints.
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900">AI models are continously fed information about your infrastructure, entitlements, permissions and most importantly logs.</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900"> The AI system can provide deep insights, and act as your admin assistant to identify high risk users, bucket them and deliver Dynamic AuthZ rules to reduce your IT workload.</p>
             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Schedule a Discussion</button>  </a>
            </div>
          
         
        </div>
        <div width="500px">
            <div class="mockup-browser border bg-base-300">
                <div class="mockup-browser-toolbar">
                  <div class="input">https://authnull.com/dynamicauthz</div>
                </div>
                <div class="  px-4 py-16 bg-base-200">

                    <div class="chat chat-end">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                              <img src="https://www.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                            </div>
                          </div>
                        
                        <div class="chat-bubble  chat-bubble-warning">Based on the current logs, who do you think are the high risk users?</div>
                      </div>

                    <div class="chat chat-start">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img src="/assets/images/chatbot.png" />
                            </div>
                          </div>
                    <div class="chat-bubble chat-bubble-primary">Sure.. let me fetch this for you..</div>
                      </div>

                      <div class="chat chat-start">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                              <img src="/assets/images/chatbot.png" />
                            </div>
                          </div>
                    <div class="chat-bubble chat-bubble-primary">I've generated a table for you on the left for you to review</div>
                      </div>


                      
                    
                      <div class="chat chat-end">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                              <img src="https://www.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                            </div>
                          </div>
                        
                        <div class="chat-bubble  chat-bubble-warning">And what kind of rules would you generate?</div>
                      </div>

                      <div class="chat chat-start">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img src="/assets/images/chatbot.png" />
                            </div>
                          </div>
                    <div class="chat-bubble chat-bubble-primary">I am taking a look..</div>
                      </div>


                      <div class="chat chat-end">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                              <img src="https://www.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                            </div>
                          </div>
                        
                        <div class="chat-bubble  chat-bubble-warning">While you are at it, can you also please preview what kinds of permissions will be impacted?</div>
                      </div>
                      <div class="chat chat-start">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full">
                                <img src="/assets/images/chatbot.png" />
                            </div>
                          </div>
                    <div class="chat-bubble chat-bubble-primary">Done. Your tables with the relevant data is available on your left. Please preview and sign off.</div>
                      </div>

                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</main> 


-->
<main class="bg-gradient-to-r  from-yellow-50 to-yellow-100  min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Next Gen AuthZ</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Modernize your Authorization Infrastructure </p>
            <p class="mt-6 text-lg leading-8 text-gray-900"> Enable operational efficiencies with our AI powered PAM + Authorization platform.
              <br/> <br/>
              <p class="mt-6 text-lg leading-8 text-gray-900"> <b> Rule based Access Control</b> Enable true dynamic access with AuthNull's rule based access system. Eliminate the need to maintain standing privileges, or roles.</p>
              <p class="mt-6 text-lg leading-8 text-gray-900"> <b> Dyamic Privileges</b> AuthNull's Dynamic AuthZ enables true Dynamic privileges that can be eliminated depending upon th </p>
             <!-- <p class="mt-6 text-lg leading-8 text-gray-900"> <b> Reduce IT workload & Footprint</b> Forget expensive training, and support thanks to AuthNull's AI powered AuthZ. Additionally, reduce operational footprint by leveraging less on PAM infrastructure. </p>-->


                <br/><br/>
              <a href="/contactus"><button class="btn btn-primary btn-blue"> Schedule a Discussion</button>  </a>
          </div>
          
         
        </div>
        <div width="500px">
          <img src="/assets/images/authnull_new.png" alt="Product screenshot" class="mt-20 w-[35rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[35rem] md:-ml-4 lg:-ml-0" width="252">
        </div>
      </div>
    </div>
  </div>
</main> 

  

<main class="bg-gradient-to-r  from-blue-50 to-blue-100  min-h-screen" >

    <a name="vault"></a>
    <div class="overflow-hidden py-16 sm:py-16">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        

        <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Frequently Asked Questions</p>

        <br/>
                <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow join-item  ">
                <input type="radio" name="my-accordion-4" checked="checked" /> 
                <div class="collapse-title text-xl font-medium text-blue-600">
                    What operating systems are being supported for Dynamic Authorization Platform 
                </div>
                <div class="text-xl collapse-content"> 
                    <p>To begin with, support for all Linux Distributions is available. Windows distribution support is launching in December 2023</p>
                </div>
                </div>
                <div class="collapse collapse-arrow join-item">
                <input type="radio" name="my-accordion-4" /> 
                <div class="collapse-title text-xl font-medium text-blue-600">
                   Can I see a demo of the product?
                </div>
                <div class="collapse-content text-xl"> 
                    <p>Yes. Please setup a demo request by clicking on "Schedule a discussion" button</p>
                </div>
                </div>
                <div class="collapse collapse-arrow join-item">
                <input type="radio" name="my-accordion-4" /> 
                <div class="collapse-title  text-xl font-medium text-blue-600">
                   How do you modify user permissions dynamically? 
                </div>
                <div class="text-xl collapse-content"> 
                    <p>By evaluating logs continously, AuthNull is able to make availble several variables that can be used for rules.  Admins or our AI assistant can use these variable to create AuthZ rules, which can inturn change permissions</p>
                </div>
                </div>

                <div class="collapse collapse-arrow join-item">
                    <input type="radio" name="my-accordion-4" /> 
                    <div class="collapse-title  text-xl font-medium text-blue-600">
                       Where are you importing the permissions from, and where is it getting updated?
                    </div>
                    <div class="text-xl collapse-content"> 
                        <p>All existing user permissions are imported (from endpoints) and version controlled (on AuthNull). When rules trigger, they modify these permissions which is inturn applied on the endpoints.</p>
                    </div>
                    </div>

                    <div class="collapse collapse-arrow join-item">
                        <input type="radio" name="my-accordion-4" /> 
                        <div class="collapse-title  text-xl font-medium text-blue-600">
                           How frequently are permission changes applied?
                        </div>
                        <div class="text-xl text-xl collapse-content"> 
                            <p>Permissions and entitlements are not instantaneous. It might take several seconds, to a couple of minutes for them to be applied.</p>
                        </div>
                        </div>

                        
            </div>


      </div>
    </div>
  </main> 
  
 

  