 




</script>
<main class="bg-gradient-to-r   min-h-screen" >

  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Dynamic Authz</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Dynamic Authorization Platform (PREVIEW)</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  Provide rule based access with JIT entitlements. Reduce risk in privileged access
              <br/> <br/>
              <h3 class="text-2xl"> What does this feature do? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull enables Dynamic Authorization by modifying entitlements on the fly with rule based access</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  Endpoint logs are continously processed to provide a powerful solution that enables administrators to create rules that can be executed against endpoints.</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  Increase or decrease permissions on the fly.</p>

             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Schedule a Discussion</button>  </a>
            </div>
          
         
        </div>
        <div width="500px">

            <video autoplay="true" muted="" w="" name="AuthNull Demo Video" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
                <source src="/assets/videos/dit-preview.mov">
              </video>
          
        </div>
      </div>
    </div>
  </div>
</main> 


 
 


<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="relative pt-60">
      <!-- Item -->
      <div class="sticky bottom-60 z-[3] -mt-48 mb-36 grid items-center gap-8 rounded-xl bg-blue-50 px-5 py-10 sm:px-12 lg:grid-cols-2 lg:gap-20">
        <div class="max-w-3xl lg:grid lg:gap-32">
          <h2 class="mb-4 text-3xl font-bold md:text-5xl lg:m-0">Dynamically remove privileged account permissions</h2>
          <p class="max-w-md text-base text-black lg:text-base">Threat Actors reset MFA to access secure servers? No problem., AuthNull can automatically strip privileges for users based on Identity risk</p>
          <p class="hidden text-2xl font-bold lg:block">// 01</p>
        </div>
        <div class="flex h-[480px] w-full items-center justify-center text-[#858585]">
         <img src="/assets/images/identity-theft.jpg" />
        </div>
        <p class="block text-2xl font-bold lg:hidden">// 01</p>
      </div>
      <!-- Item -->
      <div class="sticky bottom-36 top-auto z-[2] -mt-24 mb-12 grid items-center gap-8 rounded-xl bg-blue-100 px-5 py-10 sm:px-12 lg:grid-cols-2 lg:gap-20">
        <div class="max-w-3xl lg:grid lg:gap-32">
          <h2 class="mb-4 text-3xl font-bold md:text-5xl lg:m-0">Introduce Adaptive MFA</h2>
          <p class="max-w-md text-base text-black">Use AuthNull's Dynamic AuthZ Platform to introduce rule based Adaptive MFA</p>
          <p class="hidden text-2xl font-bold lg:block">// 02</p>
        </div>
        <div class="flex h-[480px] w-full items-center justify-center text-[#858585]">
          <img src="/assets/images/adaptive-mfa.avif" />

        </div>
        <p class="block text-2xl font-bold lg:hidden">// 02</p>
      </div>
      <!-- Item -->
      <div class="sticky bottom-12 top-auto mb-12 grid items-center gap-8 rounded-xl bg-slate-50 px-5 py-10 sm:px-12 lg:grid-cols-2 lg:gap-20">
        <div class="max-w-3xl lg:grid lg:gap-32">
          <h2 class="mb-4 text-3xl font-bold md:text-5xl lg:m-0">Provide true conditional access</h2>
          <p class="max-w-md text-base text-black">AuthNull's Dynamic Authorization Platform (DAP) enables you to provide conditional access forcing users to adopt good security posture and disallowing threat actors.</p>
          <p class="hidden text-2xl font-bold lg:block">// 03</p>
        </div>
        <div class="flex h-[480px] w-full items-center justify-center text-[#858585]">
          <img src="/assets/images/linux-windows.avif" />

        </div>
        <p class="block text-2xl font-bold lg:hidden">// 03</p>
      </div>
    </div>
  </div>
</section>

<main class="bg-gradient-to-r  bg-slate-50  min-h-screen" >

    <a name="vault"></a>
    <div class="overflow-hidden py-16 sm:py-16">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        

        <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Frequently Asked Questions</p>

        <br/>
                <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow join-item  ">
                <input type="radio" name="my-accordion-4" checked="checked" /> 
                <div class="collapse-title text-xl font-medium text-blue-600">
                    What operating systems are being supported for Dynamic Authorization Platform 
                </div>
                <div class="text-xl collapse-content"> 
                    <p>To begin with, support for all Linux Distributions is available. Windows distribution support is launching in December 2023</p>
                </div>
                </div>
                <div class="collapse collapse-arrow join-item">
                <input type="radio" name="my-accordion-4" /> 
                <div class="collapse-title text-xl font-medium text-blue-600">
                   Can I see a demo of the product?
                </div>
                <div class="collapse-content text-xl"> 
                    <p>Yes. Please setup a demo request by clicking on "Schedule a discussion" button</p>
                </div>
                </div>
                <div class="collapse collapse-arrow join-item">
                <input type="radio" name="my-accordion-4" /> 
                <div class="collapse-title  text-xl font-medium text-blue-600">
                   How do you modify user permissions dynamically? 
                </div>
                <div class="text-xl collapse-content"> 
                    <p>By evaluating logs continously, AuthNull is able to make availble several variables that can be used for rules.  Admins or our AI assistant can use these variable to create AuthZ rules, which can inturn change permissions</p>
                </div>
                </div>

                <div class="collapse collapse-arrow join-item">
                    <input type="radio" name="my-accordion-4" /> 
                    <div class="collapse-title  text-xl font-medium text-blue-600">
                       Where are you importing the permissions from, and where is it getting updated?
                    </div>
                    <div class="text-xl collapse-content"> 
                        <p>All existing user permissions are imported (from endpoints) and version controlled (on AuthNull). When rules trigger, they modify these permissions which is inturn applied on the endpoints.</p>
                    </div>
                    </div>

                    <div class="collapse collapse-arrow join-item">
                        <input type="radio" name="my-accordion-4" /> 
                        <div class="collapse-title  text-xl font-medium text-blue-600">
                           How frequently are permission changes applied?
                        </div>
                        <div class="text-xl text-xl collapse-content"> 
                            <p>Permissions and entitlements are not instantaneous. It might take several seconds, to a couple of minutes for them to be applied.</p>
                        </div>
                        </div>

                        
            </div>


      </div>
    </div>
  </main> 
  
 

  


  