<!-- FAQ -->
<main class="">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight ">Open Positions</h2>
        </div>
        <!-- End Title -->
      
        <div class="max-w-3xl mx-auto">
          <!-- Accordion -->
          <div class="hs-accordion-group">
            <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6  active" id="hs-basic-with-title-and-arrow-stretched-heading-one">
              <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500  " aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
                Cyber Security Engineer
                <svg class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <svg class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </button>
              <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
                <p class="text-gray-800 ">
                   
                        We are a leading Cloud based company at Chennai, we are looking to hire cyber security engineers
                        for our new product development.
                        <br />
                        Immediate joiners are welcome.
                        <br />
                        Preferred
                        BE/B.Tech/MCA - IT.
                        <br />
                        Experience: 0-2 years’
                        <br />
                        Work Location: Work from Home (WFH).
                        <br />
                        Technical Skills Preferred
                        <br />
                        System monitoring, Prevention, Data Analysis, knowledge on threat detection, Vulnerability control
                        and Security breaches.
                        Monitor computer networks and systems for threats and security breaches
                        Install, alter, and update security software and firewalls
                        Test systems for potential vulnerabilities
                        Develop systems and processes for security best practices throughout the company
                        Prepare reports on security incidents and changing responses
                        <br />
                        Job Type: Full-time
                        <br />
                        Schedule:
                        Day shift
                        <br />
                        Education:
                        Bachelor&#39;s (Preferred)
                    
                        <br />
                        
                        <a class="text-blue-600" href="https://docs.google.com/forms/d/e/1FAIpQLSd01FKnenxA3CALzC9ZswyVma0ER5rOlwsmALcgAttpE8HPyQ/viewform?usp=sf_link">Apply Now</a>
                    
                    
                </p>
              </div>
            </div>

            <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 " id="hs-basic-with-title-and-arrow-stretched-heading-two">
                <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500  " aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
                    Java Back-end Developer
                  <svg class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                  <svg class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </button>
                <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
                  <p class="text-gray-800 ">
                            
    Mandatory Skills- Core Java, multithreading, Spring/Spring Boot, Databases, Microservices,
    Hibernate.
    <br />
    Job Description : 
    Must have strong experience in Core Java, Multithreading, spring and SQL.
    Hands-on individual responsible for producing excellent quality of code, adhering to expected coding
    standards and industry best practices.
    Have good fundamental knowledge of Rest Services, DB Querying. JMS, TDD, JQuery etc. are good to
    have.
    Experience in Design Patterns, Design principles &amp; memory Management
    Excellent Problem- solving/ Trouble shooting skills
    Experience with requirements elicitation and specification.
    High levels of ownership and commitment on deliverable
    Effective communication with reporting Head to probe a technical problem or clarify requirement
    specifications
    <br />
    Exp: 2-4 years
    <br />
    Location: Work from home (WFH).
    <br />
    
    <a class="text-blue-600" href="https://docs.google.com/forms/d/e/1FAIpQLSfAed8zYeLwsW2wPUbGFDpIXqNN-FqSfKWjlssTnCKcWhKMJQ/viewform?usp=sf_link">Apply Now</a>
                      
                  </p>
                </div>
              </div>
      
            <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 " id="hs-basic-with-title-and-arrow-stretched-heading-two">
              <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500  " aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
                Developers (Open Source Trainees) Golang Programming (C, C++, Java, ReactJS)
                <svg class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <svg class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </button>
              <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
                <p class="text-gray-800 ">
               
                   
                        Job description
                        <br />
                        Looking for Opensource Trainees - B. E/ B. Tech /MCA Computer science Candidates.
                        (Developers with C, C++, Java, ReactJS) (MySQL, Hadoop, Postgres, MongoDB). Good understanding
                        exp in Cloud Native-Architectures like Microservices, Docker, Kubernetes, Knative.
                        Bonus points for Advanced languages like RUST, Erlang, Kotlin. Bonus points for Opensource
                        Contributions.
                        <br />
                        Preferred - B.E/B.Tech/MCA - Computer Science.
                        <br />
                        IT Certified candidates - Out of preferred education list - Can also apply.
                        <br />
                        No. of Openings: 25
                        <br />
                        Location: Chennai, TN. (WFH - Work from Home)
                        <br />
                        Job Type: Full-time
                        <br />
                        Schedule:
                        Day shift
                        <br />
                        Education:
                        Bachelor&#39;s (Preferred)
                        <br />
                        
                        <a class="text-blue-600" href="https://docs.google.com/forms/d/e/1FAIpQLSemt5F6yA2XeyhVbNPvdDKIQu_1RUJa1dmU5Dh7MqUSRyBUGg/viewform?usp=sf_link">Apply Now</a>
                    
                </p>
              </div>
            </div>
      

          </div>
          <!-- End Accordion -->
        </div>
      </div>
</main>

  <!-- End FAQ -->




  <div class="uk-article-content uk-accordion-content link-primary">
   </div>   