<script>
 var form = document.getElementById("myForm");
function handleForm(event) { event.preventDefault(); } 
form.addEventListener('submit', handleForm);
  
   

    </script>

    <a name="getfreetrial" />
<!-- Section Contact -->
<section class="bg-slate-50">
  <!-- Contact Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
      <!-- Contact Text -->
      <div class="flex max-w-2xl flex-col items-start">
        <h2 class="mb-6 text-3xl font-bold md:text-5xl">Begin your journey to a better PAM</h2>
        <p class="mb-6 max-w-lg pb-4 text-[#636262]">Please fill up this form with basic information including your contact information. We will get back to you within 1 business day to setup your account.</p>
        <p class="mb-8 max-w-lg text-[#647084]"> Do get in touch with us if you need any information</p>
        <div class="flex">
          <img src="/assets/images/exec.png" alt="" class="rounded-full mr-4 inline-block h-16 w-16 object-cover" />
          <div class="flex flex-col">
            <h6 class="font-bold">Support</h6>
            <p class="text-sm text-[#636262]">support [at] authnull.io</p>
          </div>
        </div>
      </div>
      <!-- Contact Form Container -->
      <div class="mx-auto max-w-xl bg-[#f2f2f7] p-8 text-center">
        <!-- Contact Form Title -->
        <h3 class="text-2xl font-bold md:text-3xl">Setup your AuthNull Trial</h3>
        
        <p class="mx-auto mb-6 mt-4 max-w-md text-sm text-[#647084]">Please provide us with your brief contact information along with the use cases that you would like to implement</p>
        <!-- Contact Form -->
        <form class="mx-auto mb-4 max-w-sm text-left" name="Submit a trial form" method="get">
          <div class="mb-4 flex flex-col gap-y-2">
            <label for="name-2" class="mb-1 font-medium">Your Name</label>
            <input type="text" class="h-9 w-full bg-white px-3 py-6 text-sm text-[#333333]" placeholder="" required="" />
          </div>
          <div class="mb-4 flex flex-col gap-y-2">
            <label for="name-2" class="mb-1 font-medium">Email Address</label>
            <input type="text" class="h-9 w-full bg-white px-3 py-6 text-sm text-[#333333]" placeholder="" required="" />
          </div>
          <div class="mb-8 flex flex-col gap-y-2">
            <label for="field-3" class="mb- font-medium">Use Cases Targeted (2-3 lines)</label>
            <textarea placeholder="" class="h-auto min-h-[186px] w-full overflow-auto bg-white px-3 py-2 text-sm text-[#333333]"> </textarea>
          </div>
          <input type="submit" onsubmit="javascript:alert('Thanks for submitting the form');" value="Submit form" class="inline-block w-full cursor-pointer bg-[#276ef1] px-6 py-4 text-center font-semibold text-white transition [box-shadow:rgb(171,_196,_245)_-8px_8px] hover:[box-shadow:rgb(171,_196,_245)_0px_0px]" />
        </form>

        <a class="text-base underline" href="https://outlook.office365.com/owa/calendar/Authnullmeetings@authnull.com/bookings/">Schedule a meeting Instead</a>

      </div>
    </div>
  </div>
</section>