


 <main class="custom-bg-ablastor min-h-screen">

  


    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto pb-10">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-10">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight "> Case Studies</h2>

        </div>
        {% for post in site.casestudies %}
        <!-- End Title -->
        {% if post.highlight == "true" %}

        <!-- Grid -->
        <div class="flex w-full h-80 bg-[url('https://authnull.com/assets/images/ssologin.svg')] justify-end">
          <div class="my-6 bg-white px-14 py-10">
            <div class="mt-auto  flex-col items-center gap-x-3 mb-3">
              <img class="w-12 h-12 mb-2 full" src="{{ post.logo }}" alt="Image Description">
            <div>
              <h5 class="text-sm text-gray-800 ">By asf @ KloudOne Inc</h5>
            </div>
          </div>
            <h3 class="text-xl font-semibold text-gray-800 cursor-pointer  ">
              {{ post.title }}
            </h3>
            <p class="mt-5 text-gray-600">
              {{ post.excerpt }}
            </p>
            <p class="mt-10 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium cursor-pointer">
             <a href="{{post.url}}"> Read more</a>
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </p>
          </div>
        
        </div>
   
        <!-- End Grid -->
        <!-- Card Blog -->
      <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
       
        <!-- End Title -->

        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 ">
          {% else %}
          <!-- Card -->
          <a class=" group overflow-hidden" href="{{post.url}}">
           

            <div class="mt-7">
              <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 text-gray-200">
                {{post.title}}
              </h3>
              <p class="mt-3 text-gray-800 text-gray-200">
               {{post.excerpt}}
              </p>
              <p class="mt-5 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 group-hover:underline font-medium">
                Read more
                <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </p>
            </div>
          </a>
          {% endif %}
        {% endfor %}
        </div>
        <!-- End Grid -->
        
      </div>
<!-- End Card Blog -->


    
          <!-- End Icon Block -->
        </div>
        <!-- Card -->
        
        <!-- End Card -->
      </div>

    
    
</main>
