
<header>
    <!-- Hero Container -->
    <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <!-- Component -->
      <div class="mx-auto mb-8 w-full max-w-3xl text-center md:mb-12 lg:mb-16">
        <!-- Hero Title -->
        <h1 class="mb-4 text-4xl font-bold md:text-6xl">Deliver Just in Time Privileges with Dynamic Privileged Access</h1>
        <p class="mx-auto mb-5 max-w-lg text-sm text-[#636262] sm:text-xl md:mb-6 lg:mb-8">AuthNull enables you to configure dynamic privileged access where user privileges are provisioned on target privileged servers just in time.</p>
        <!-- Hero Button -->
        <div class="flex items-stretch justify-center">
          <a href="/contactus" class="mr-5 inline-block rounded-md bg-black px-8 py-4 text-center font-semibold text-white md:mr-6 lg:mr-8">Get in touch</a>
           
        </div>
      </div>
      <!-- Hero Image -->
      <img class="border"src="/assets/images/jit.png" alt="" class="inline-block max-h-[512px] w-full object-cover" />
    </div>
  </header>