<!-- Icon Blocks -->
<a name="endpoint"></a>
<main class="min-h-screen bg-white">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 gap-12">
    <div class="lg:w-3/4">
      <h2 class=" font-bold lg:text-4xl dark:text-white">
   Endpoint Management
      </h2>
      <p class="mt-3 text-gray-800 dark:text-gray-400">
   AuthNull provides extensive endpoint management features
      </p>
      <p class="mt-5 inline-flex items-center gap-x-2 font-medium text-blue-600 dark:text-blue-500">
       <a href="contactus.html"> Contact us to get a demo </a>
        <svg class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z" fill="currentColor"/>
        </svg>
      </p>
    </div>
    <!-- End Col -->

    <div class="space-y-6 lg:space-y-10">
      <!-- Icon Block -->
      <div class="flex">
        <!-- Icon -->
        <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-blue bg-white text-blue-500 shadow-sm mx-auto dark:bg-blue-100 dark:border-blue dark:text-blue-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          
        </span>
        <div class="ml-5 sm:ml-8">
            <h3 class="text-gray-800 font-bold lg:text-2xl">
           User & Group Management
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
           End users and groups are automatically discovered and synchronized 2-way with AuthNull. New users created on the endpoint is automatically visible on AuthNull and cannot be logged in without AuthNull's swordless credentials.
          </p>
        </div>
      </div>
      <!-- End Icon Block -->

      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span class="mt-10 flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-blue bg-white text-blue-500 shadow-sm mx-auto dark:bg-blue-100 dark:border-blue dark:text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            
          </span>
          <div class="ml-5 sm:ml-8">
            <h3 class="mt-10 text-gray-800 font-bold lg:text-2xl">
             Endpoint Service Management
                </h3>
            <p class="mt-1 text-gray-600 dark:text-gray-400">
              Endpoint agent can install / configure and manage SSH, RDP and other services on the endpoint on behalf of AuthNull's administrators and privileged users, enabling management at scale through the console, or through automation powered by the API.
          </div>
        </div>

        <div class="flex">
          <!-- Icon -->
          <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-blue bg-white text-blue-500 shadow-sm mx-auto dark:bg-blue-100 dark:border-blue dark:text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
            
          </span>
          <div class="ml-5 sm:ml-8">
          <h3 class=" text-gray-800 font-bold lg:text-2xl">
            Authentication Management
              </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Endpoint agents can modify authentication to enable 1FA / 2FA automatically across thousands of endpoints.
        </div>
      </div>

      <div class="flex">
        <!-- Icon -->
        <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-blue bg-white text-blue-500 shadow-sm mx-auto dark:bg-blue-100 dark:border-blue dark:text-blue-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          
        </span>
        <div class="ml-5 sm:ml-8">
        <h3 class=" text-gray-800 font-bold lg:text-2xl">
          Jump Server Configuration
            </h3>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          Endpoint agent can install / configure jump servers on each endpoint to enable secure recorded authentication to other
      </div>
    </div>
      <!-- Icon Block -->
       
      <!-- End Icon Block -->

      <!-- Icon Block -->
      

      
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
</div>
<!-- End Icon Blocks -->