 

<main class="bg-gradient-to-r  from-yellow-50 to-blue-200  min-h-screen" >
    <a name="recording"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Sessions</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Text and Video Recording</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull provides text and video recording of all sessions connected through the jump server.
              <br/> <br/>
               
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
         <img src="/assets/images/recording2.png" />
        </div>
      </div>
    </div>
  </div>
</main> 




<main class="bg-gradient-to-r  from-pink-50 to-pink-200   min-h-screen" >

  <a name="rotation"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">EPM Credential Rotation</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Setup and forget about credential rotation</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull rotates all types of credentials and distributes them automatically to all necessary wallets.
              <br/> <br/>
               
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
         <img src="/assets/images/lock.png" wdith="460px"/>
        </div>
      </div>
    </div>
  </div>
</main> 



<main class="bg-gradient-to-r  from-yellow-50 to-yellow-100  min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Next Gen PAM</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Simple and Modern platform minus the friction and the bloat</p>
            <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull provides a single comprehensive modern platform that avoids needless bloat.
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Comprehensive PAM
                AuthNull includes a comprehensive PAM that enables privileged access, endpoint management and secrets management with various features including credential rotations, recorded sessions, multi-factor authentication including biometrics and much more.</p>
             

                <br/><br/>
              <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
          </div>
          
         
        </div>
        <div width="500px">
          <img src="/assets/images/authnull_new.png" alt="Product screenshot" class="mt-20 w-[35rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[35rem] md:-ml-4 lg:-ml-0" width="252">
        </div>
      </div>
    </div>
  </div>
</main> 

  