



<main class="bg-gradient-to-r  from-blue-100 to-gray-300  min-h-screen" >

  <div class="overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Next Generation Endpoint Security</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Deploy Endpoint security </p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull delivers powerful endpoint security for windows with extensive features including whitelisting, blacklisting, removal of admin privileges and more.
            <p class="mt-6 text-lg leading-8 text-gray-900">  

              

              <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
          </div>
        </div>
        <div >
          <video autoplay="true" muted="" w="" name="AuthNull Demo Video" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
            <source src="/assets/images/epm-recording.mov">
          </video>
        </div>
      </div>
    </div>
  </div>
</main> 



      



<!-- Section Features  -->
<section>
  <!-- Features Container -->
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Features Title -->
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold md:text-5xl">Key Features</h2>
      <p class="mx-auto mb-8 mt-4 max-w-lg text-[#647084] md:mb-12 lg:mb-16">AuthNull's endpoint security for Windows provides comprehensive features including:</p>
    </div>
    <!-- Features Grid -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
        </svg>
                <p class="text-2xl font-bold ">Remove Admin Privileges</p>
        <p class="text-base text-black">Automatically remove privileges for given endpoints without users even noticing it.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path strokeLinecap="round" strokeLinejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
        </svg>

        
        <p class="text-2xl  font-bold ">Application whitelisting and blacklisting</p>
        <p class="text-base text-black">Whitelist or blacklist applications using wildcards, application names, paths, publisher names or md5 hashes. </p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
        </svg>
        
                <p class="text-2xl font-bold">Policies and rules</p>
        <p class="text-base text-black">Create policies and rules targeting single endpoints or a range of endpoints.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
                <p class="text-2xl font-bold">Monitor UAC</p>
        <p class="text-base text-black">Monitor user access control events and approve them on adhoc basis, or automatically with the help of rules.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
        </svg>
                <p class="text-2xl font-bold">MFA Biometric Authentication</p>
        <p class="text-base text-black">Deliver highly secure MFA authentication that includes biometrics which ensures that endpoints are not compromised even if credentials are shared.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="blue" class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
                <p class="text-2xl font-bold">Audit logs</p>
        <p class="text-base text-black">AuthNull generates audit logs to meet compiance needs. These logs can be integrated with any SIEM solution.</p>
      </div>
       
    </div>
  </div>
</section>


<section class="bg-slate-50"> 
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-12">
    <!-- Component -->
    <div class="flex flex-col gap-14">
      <!-- Title -->
      <div class="flex max-w-5xl flex-col items-start gap-2.5 lg:flex-row lg:items-center">
        <h2 class="text-3xl font-bold md:text-5xl">Use cases</h2>
        <p class="max-w-lg text-sm sm:text-base"> AuthNull's Endpoint privileged security can be used for the following use cases:</p>
      </div>
      <!-- Item -->
      <div class="relative flex cursor-pointer flex-col gap-4 p-5 [border-top:1px_solid_rgb(0,_0,_0)] sm:px-6 md:py-10 lg:flex-row lg:gap-28">
        <div class="flex items-center gap-4 pr-8 lg:w-1/3 lg:gap-20">
          <p class="p-2.5 text-sm sm:text-sm">01</p>
          <h3 class="text-2xl font-bold md:text-3xl">Shared domain admin credentials</h3>
        </div>
        <p class="max-w-md text-sm sm:text-base"> For critical endpoints, you can use AuthNull to share domain admin credentials based on rules, or based on checkouts to users.</p>
      </div>
      <!-- Item -->
      <div class="relative flex cursor-pointer flex-col gap-4 p-5 [border-top:1px_solid_rgb(0,_0,_0)] sm:px-6 md:py-10 lg:flex-row lg:gap-28">
        <div class="flex items-center gap-4 pr-8 lg:w-1/3 lg:gap-20">
          <p class="p-2.5 text-sm sm:text-sm">02</p>
          <h3 class="text-2xl font-bold md:text-3xl">Automated user onboarding / offboarding</h3>
        </div>
        <p class="max-w-md text-sm sm:text-base">Thanks to a centralized endpoint privilege management - end users are  onboard and offboarded. This means no need to change passwords, SSH Keys manually.</p>
        <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64b54f87cbaf0d4c216bb7a5_dropdown-icon.svg" alt="" class="absolute right-0 top-3 h-8 w-8 rounded-full border border-solid border-[#e2e2e2] p-2 sm:mr-6 sm:h-12 sm:w-7 sm:min-w-[48px] md:w-12 md:p-3" />
      </div>
      <!-- Item -->
      <div class="relative flex cursor-pointer flex-col gap-4 p-5 [border-top:1px_solid_rgb(0,_0,_0)] sm:px-6 md:py-10 lg:flex-row lg:gap-28">
        <div class="flex items-center gap-4 pr-8 lg:w-1/3 lg:gap-20">
          <p class="p-2.5 text-sm sm:text-sm">03</p>
          <h3 class="text-2xl font-bold md:text-3xl"> Passwords and SSH Key rotations & automated distributions</h3>
        </div>
        <p class="max-w-md text-sm sm:text-base">Where setup, passwords and SSH Keys are automatically rotated and distributed to users wallets.</p>
      </div>
      <!-- Item -->
      <div class="relative flex cursor-pointer flex-col gap-4 p-5 [border-top:1px_solid_rgb(0,_0,_0)] sm:px-6 md:py-10 lg:flex-row lg:gap-28">
        <div class="flex items-center gap-4 pr-8 lg:w-1/3 lg:gap-20">
          <p class="p-2.5 text-sm sm:text-sm">04</p>
          <h3 class="text-2xl font-bold md:text-3xl">SSO with MFA</h3>
        </div>
        <p class="max-w-md text-sm sm:text-base">Enable login to endpoints using a single sign on with MFA, or direct to endpoints with MFA</p>
      </div>
      <div class="relative flex cursor-pointer flex-col gap-4 p-5 [border-top:1px_solid_rgb(0,_0,_0)] sm:px-6 md:py-10 lg:flex-row lg:gap-28">
        <div class="flex items-center gap-4 pr-8 lg:w-1/3 lg:gap-20">
          <p class="p-2.5 text-sm sm:text-sm">05</p>
          <h3 class="text-2xl font-bold md:text-3xl">Isolate and protect domain admin accounts</h3>
        </div>
        <p class="max-w-md text-sm sm:text-base">Domain admin accounts cannot be accessed without a SSO, multifactor and a one time password or token that is temporary in nature. </p>
      </div>
    </div>
  </div>
</section>


 