<div class="text-center py-10 items-center px-4 sm:px-6 lg:px-6 bg-slate-50">
    <h1 class="block text-2xl font-bold text-indigo sm:text-4xl">Passwordless Server Access</h1>
    <p class="mt-3 text-lg text-black">
      
      AuthNull eliminates Passwords and SSH keys - a major attack vector to provide secure, passwordless and frictionless access to servers and remote infrastructure.
     </p>
 
    <!-- <p class=" text-lg text-gray-300">authenticators</p> -->
    <div class="flex justify-center  mt-6 ">
     
      <div  class="flex justify-center  align-center ">
        <img src="/assets/images/auth.png" class="h-4/6" />
      </div>
    </div>
   
  </div>