<!-- Hero -->
  <!-- End Hero -->




<section>

  <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
    <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Privileged Access</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Autonomous Privileged Access <br/> </p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull's automated privileged access management (PAM) features makes it easy to onboard users, policies and approve them. 
              <br/> <br/>
              
             <a href="/contactus"> <button class="btn btn-primary  "> Get a demo</button> </a> 
          </div>
<br/>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl">
    <!-- Title -->
    
    <!-- Content -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
      <!-- Item -->
      <div class=" grid gap-6 rounded-md p-8 md:p-10 border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50">
        <img src="/assets/images/id-card.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl   text-black font-semibold">Identity Linked MFA</h3>
        <p class="text-base text-black">Deliver MFA for privileged access accounts where the identity of the user is verified everytime.</p>
        <p class="text-base text-black"><a class="underline text-blue-800" href="/mfa-passwordless-biometric">Learn more</a></p>

      </div>
      <!-- Item -->
      <div class=" grid gap-6 rounded-md border border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50 md:p-10">
        <img src="/assets/images/server.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl text-black font-semibold">Service Account Management & Authentication</h3>
        <p class="text-base text-black">Detect, and manage service accounts. Authenticate and power service account applications without using passwords, SSH Keys or secrets.</p>
        <p class="text-base text-black"><a class="underline text-blue-800" href="/service-accounts">Learn more</a></p>
      </div>
      <!-- Features Item -->
      <div class=" grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/remote-access.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl text-black  font-semibold">Simplified Privileged Access</h3>
        <p class="text-base text-black">Access Modern Privileged Access with with Endpoint Security, Dynamic Authorization, Just in time access and more. .</p>
        <p class="text-base text-black"><a class="underline text-blue-800" href="/pam">Learn more</a></p>

      </div>
    </div>
  </div>
</section>


<!--

  <main class="bg-gradient-to-r  from-rose-50 to-blue-300  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Privileged Access</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-indigo-800 sm:text-6xl">Privileged Access & Identity Protection <br/> </p>
              <p class="mt-6 text-lg leading-8 text-gray-900">  Experience the next generation privileged access with AuthNull's simplified privileged access management (PAM) platform. Get ready to eliminate identity theft, and deliver privileged access with a simple platform without bloat and 1/3rd TCO.
                <br/> <br/>
                
               <a href="/contactus"> <button class="btn btn-active btn-neutral "> Get a demo</button> </a> 
            </div>
           
          </div>
          <div >
            <video autoplay="true" muted="" w="" name="AuthNull Demo Video" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
              <source src="/assets/images/epm-recording.mov">
            </video>
          </div>
        </div>
      </div>
    </div>
  </main> 
-->

 