<!-- Hero -->
  <!-- End Hero -->




<section>

  <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
    <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Privileged Access</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Frictionless Privileged Access & Identity protection<br/> </p>
            <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull’s autonomous features enables frictionless privileged access and identity protection for your infrastructure.
              <br/> <br/>
              
             <a href="/contactus"> <button class="btn btn-primary  "> Get a demo</button> </a> 
          </div>
<br/>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl">
    <!-- Title -->
    
    <!-- Content -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
      <!-- Item -->
      <div class=" grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/remote-access.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl text-black  font-semibold">Modern & Frictionless Platform</h3>
        <p class="text-base text-black">A modern frictionless experience that accelerates privileged access rollout with automatically discovered security policies delivering significantly lower TCO.</p>
        <!-- <p class="text-base text-black"><a class="underline text-blue-800" href="/pam">Learn more</a></p> -->

      </div>
      <div class=" grid gap-6 rounded-md p-8 md:p-10 border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50">
        <img src="/assets/images/id-card.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl   text-black font-semibold">Identity Protection</h3>
        <p class="text-base text-black">We protect deliver privileged access through identities enabling biometric MFA, detecting account takeover, lateral movement or tampering of credentials.</p>
        <p class="text-base text-black"><a class="underline text-blue-800" href="/mfa-passwordless-biometric">Learn more</a></p>

      </div>
      <!-- Item -->
      <div class=" grid gap-6 rounded-md border border border-solid border-gray-300 bg-gradient-to-r from-blue-100 to-blue-50 md:p-10">
        <img src="/assets/images/server.png" alt="" class="inline-block h-16" />
        <h3 class="text-xl text-black font-semibold">Discover and Protect Service Accounts</h3>
        <p class="text-base text-black">Detect, and manage service accounts.  Authenticate and power service account applications without using  passwords, SSH Keys or secrets.</p>
        <p class="text-base text-black"><a class="underline text-blue-800" href="/service-accounts">Learn more</a></p>
      </div>
      <!-- Features Item -->
      
    </div>
  </div>
</section>

 
 