<main class="bg-slate-100 min-h-screen">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="max-w-xl mx-auto">
            <div class="text-center">
              <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl mb-5">
               Platform Approach
              </h1>
              <p class="mt-3 text-blue-600 mb-20 text-xl">
                Our platform provides lightweight, accelerated rollout of passwordless PAM on your infrastructure infrastructure.
              </p>
            </div>
          </div>
        <!-- Grid -->
        <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
          <!-- Card -->
          <a class="group xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div class="flex-shrink-0 relative xl overflow-hidden w-full sm:w-56 h-44">
                <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover xl" src="../assets/images/1.png" alt="Passwordless">
              </div>
      
              <div class="mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
                <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600  ">
                  Frictlionless & Passwordless Authentication
                </h3>
                <p class="mt-3 text-gray-600 ">
                    AuthNull enables frictionless, and passwordless authentication at scale.
                </p>
                <!--<p class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium">
                  Read more
                  <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </p>-->
              </div>
            </div>
          </a>
          <!-- End Card -->
      
        
      
          <!-- Card -->
          <a class="group xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div class="flex-shrink-0 relative xl overflow-hidden w-full sm:w-56 h-44">
                <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover xl" src="../assets/images/2.png" alt="Dual roots of trust">
              </div>
      
              <div class="mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
                <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600  ">
                  Security:  Two roots of trust
                </h3>
                <p class="mt-3 text-gray-600 ">
                  A distributed set of credentials together with the organization's private keys enable two roots of trust as opposed to a singular entity such as a root CA.
                </p>
               <!---<p class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium">
                  Read more
                  <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </p>-->
              </div>
            </div>
          </a>
          <!-- End Card -->
            <!-- Card -->
            <a class="group xl overflow-hidden" href="#">
                <div class="sm:flex">
                  <div class="flex-shrink-0 relative xl overflow-hidden w-full sm:w-56 h-44">
                    <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover xl" src="../assets/images/3.png" alt="Wallet Authenticator">
                  </div>
          
                  <div class="mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
                    <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600  ">
                      Vaultless approach with a Decentralized Wallet
                    </h3>
                    <p class="mt-3 text-gray-600 ">
                        AuthNull eliminates the need for a vault, using Decentralized credentials that are directly sent to a user's mobile authenticator wallet. AuthNull provides a wallet that is used as a credential store as well as an authenticator.
                    </p>
                  <!--  <p class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium">
                      Read more
                      <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                    </p>-->
                  </div>
                </div>
              </a>
              <!-- End Card -->
      
          <!-- Card -->
          <a class="group xl overflow-hidden" href="#">
            <div class="sm:flex">
              <div class="flex-shrink-0 relative xl overflow-hidden w-full sm:w-56 h-44">
                <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover xl" src="../assets/images/4.png" alt="Server access">
              </div>
      
              <div class="mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
                <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600  ">
                 Login to local (Posix/Windows) or Active Directory /LDAP user accounts
                </h3>
                <p class="mt-3 text-gray-600 ">
                 AuthNull enables login to local or centrally managed user accounts. Additionally users can use SSH, RDP, Telnet and other protocols for remote logins.
                </p>
               <!-- <p class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium">
                  Read more
                  <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </p>-->
              </div>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Grid -->
      </div>
</main>
