<!-- Team -->
<main class="custom-bg-light-pink min-h-screen">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-3xl font-bold md:text-4xl md:leading-tight mb-10">Our Locations</h2>

        <p> We operate a truly distributed and remote workforce with a strong presence in the following two countries - United States and India. </p>
        <BR><BR/>
          <p CLASS="text-blue-600">US HQ: 16668 Winchester Club Dr, Meadow Vista CA 95722</p><BR><BR/>
      
      <!-- End Title -->
      <div class="max-w-4xl mx-auto text-center flex justify-center mb-10 lg:mb-14">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3100.848216952536!2d-121.05601672348502!3d38.995960340881474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809b0e4120270f85%3A0xd5d829b7cc9e0729!2s16668%20Winchester%20Club%20Dr%2C%20Meadow%20Vista%2C%20CA%2095722!5e0!3m2!1sen!2sus!4v1688597668682!5m2!1sen!2sus" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
        
      <!-- Grid -->
     
    </div>

    <p CLASS="text-blue-600">India Office: 34 East coast road, Villa B6, Kanathur, Chennai, Tamil Nadu, India</p><BR><BR/>


    <div class="max-w-4xl mx-auto text-center flex justify-center mb-10 lg:mb-14">
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1944.971233030252!2d80.23784109225808!3d12.846992581512227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525af95f45d1c1%3A0xba2e293bc0603afc!2sVilla-B6%2C%20Mayajaal%20Sports%20Complex%2C%20Kanathur%20Reddykuppam%2C%20Tamil%20Nadu%20603112%2C%20India!5e0!3m2!1sen!2sus!4v1688597618245!5m2!1sen!2sus" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>
      <!-- End Grid -->
    </div>
</main>

<!-- End Team -->