<!-- Team -->
<main class="custom-bg-light-pink h-screen">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-3xl font-bold md:text-4xl md:leading-tight mb-10">Our Locations</h2>
        <p>US Office: 16668 Winchester Club Dr, Meadow Vista CA 95722</p>
      </div>
      <!-- End Title -->
      <div class="max-w-2xl mx-auto text-center flex justify-center mb-10 lg:mb-14">
        <iframe
  src="https://www.google.com/maps/embed"
  width="800"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
></iframe>
        </div>
      <!-- Grid -->
      
      <!-- End Grid -->
    </div>
</main>

<!-- End Team -->