<!-- Hero -->
  <!-- End Hero -->


  <section>

    <div class="overflow-hidden py-6 sm:py-6  bg-blue-200">
      <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">MFA</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Introduce MFA everywhere<br/> </p>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Introduce MFA protection for all of your privileged infastructure with AuthNull.
                <br/> <br/>
                <a href="/passwordless"> <button class="btn btn-outline  "> Switch to 1FA </button> </a>  

               <a href="/contactus"> <button class="btn btn-primary  "> Get a demo</button> </a> 
            </div>
  <br/>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl">
      <!-- Title -->
      
      <!-- Content -->
      <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
        <!-- Item -->
        <div class=" grid gap-6 rounded-md  border border-solid border-gray-300 p-8 md:p-10 bg-white ">
          <img src="/assets/images/active_directoryu.png" alt="" class="inline-block h-16" />
          <h3 class="text-xl text-black  font-semibold"> Protect Active Directory Infrastructure through MFA</h3>
          <p class="text-base text-black">Enable Active Directory authentication MFA for accessing infrastructure that authenticate through Active directory. This works regardless of a direct conection or an RDP connection.</p>
          <!-- <p class="text-base text-black"><a class="underline text-blue-800" href="/pam">Learn more</a></p> -->
  
        </div>
        <div class=" grid gap-6 rounded-md p-8 md:p-10 border border-solid border-gray-300 bg-white  ">
          <img src="/assets/images/m2m.png" alt="" class="inline-block h-16" />
          <h3 class="text-xl   text-black font-semibold">MFA for service accounts </h3>
          <p class="text-base text-black">Detect and protect unprotectable service accounts by introducing MFA, or Delegated M2M authentication without human intervention</p>
          <p class="text-base text-black"><a class="underline text-blue-800" href="/service-accounts">Learn more</a></p>
  
        </div>
        <!-- Item -->
        <div class=" grid gap-6 rounded-md border border border-solid border-gray-300 bg-white md:p-10">
          <img src="/assets/images/linux.jpg" alt="" class="inline-block h-16" />
          <h3 class="text-xl text-black font-semibold">Protect Linux Infrastucture</h3>
          <p class="text-base text-black">Seamlessly protect even Linux infrastructure and introduce MFA whether or not you use Active Directory to authenticate into the same.</p>
        </div>
        <!-- Features Item -->
        
      </div>
    </div>
  </section>
  


<!-- Section Features -->
<section>
  <!-- Features Container -->
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Features Grid -->
    <div class="flex flex-col-reverse gap-8 sm:gap-2 lg:grid lg:grid-cols-2">
      <!-- Features Image -->
      <div>
        <img src="/assets/images/authenticatorapp.jpeg" style="margin-left: 100px;" class="align-middle h-full w-full max-w-[240px]" />
      </div>
      <!-- Features Content -->
      <div class="flex flex-col items-start lg:justify-center">
        <!-- Features Title -->
        <h2 class="mb-4 text-3xl font-bold md:text-5xl">What can you protect with AuthNull MFA?</h2>
        <div class="max-w-[480px]">
          <p class="text-[#647084]">AuthNull can protect a wide variety of infrastructure with its MFA</p>
        </div>
        <!-- Features Devider -->
        <div class="mb-12 mt-12 h-0 w-40 border [border-top-style:solid]"></div>
        <!-- Features List -->
        <ul class="flex flex-col items-start">
          <li class="flex flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Windows Local Admin accounts</p>
          </li>
          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Linux Local accounts</p>
          </li>
          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Linux LDAP accounts</p>
          </li>
          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Windows AD / Azure AD accounts</p>
          </li>

          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>RDP Authentication</p>
          </li>

          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Local Authentication</p>
          </li>
          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>SSH Authentication</p>
          </li>
          <li class="flex items-center">
            <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358be3a3c2bb8076f2bad62_Vector-6.svg" alt="" class="mr-2 inline-block h-4 w-4" />
            <p>Any application</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>




<section>

  <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
    <div class="mx-auto max-w-screen-xl px-5 lg:px-5">

      <p class="mt-2 text-4xl font-bold tracking-tight text-blue-600 sm:text-4xl">MFA - how does it work?<br/> </p>

      <br/><br/><br/>
<div style="position: relative; padding-top: 53.95833333333333%;">
  <iframe
    src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/a6f442fc0eb2f135210ffe940f38c735/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fa6f442fc0eb2f135210ffe940f38c735%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
    loading="lazy"
    style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
</div>

</div>
</div>
</section>