<a name="pamfeatures"></a> 
 
 
  <main class="bg-gradient-to-r  from-blue-50 to-pink-100  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Next Generation PAM</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">AuthNull is a next-gen PAM platform</p>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7  lg:max-w-none">
             
                
                <p class="mt-6 text-lg leading-8 text-gray-900">  <b class="text-2xl"> Secure MFA with Biometrics </b> <br/>AuthNull deliver secure MFA authentication to your servers by introducing biometrics and identity in the mix</p>
                <p class="mt-6 text-lg leading-8 text-gray-900">  <b class="text-2xl"> Enable audit compliance </b> <br/>AuthNull enables internal as well as external audit compliance</p>
                <p class="mt-6 text-lg leading-8 text-gray-900"> <b class="text-2xl"> Lower TCO </b> <br/>AuthNull's modern PAM solution is easier to migrate to, and operate and delivers exceptional return on investment by reducing your TCO over the long term. </p>
        
                   
                
                   
                   
                 
              </dl>
                <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
            </div>
          </div>
          <div >
            <video autoplay="true" muted="" w="" name="AuthNull Demo Video" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
              <source src="/assets/videos/pam-recording.mov">
            </video>
          </div>
        </div>
      </div>
    </div>
  </main> 


 