<a name="pamfeatures"></a> 
 
 
  <main class="bg-gradient-to-r  from-slate-50 to-slate-50  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Next Generation PAM</h2>
              <p class="mt-2 text-5xl font-bold tracking-tight text-indigo-800 sm:text-5xl">AuthNull Privileged Access Solution Overview</p>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7  lg:max-w-none">
             
                
                <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull's modern PAM provides all the key features to protect your identity and infrastructure from a single platform. </p>
        
                   
                
                   
                   
                 
              </dl>
                <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
            </div>
          </div>
          <div>
            <img src="/assets/images/server-access.png">
          </div>
        </div>
      </div>
    </div>
  </main> 


 


<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row-reverse lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Privileged Access and Session Management</h2>
        <p class="mb-6 max-w-lg text-black text-lg md:mb-10 lg:mb-12">Comprehensive privileged access management features for active directory & local privileged account infrastructure.</p>
        <a href="/endpoint-privilege-management" class="inline-block bg-black px-6 py-3 font-semibold text-white">Learn more</a>
      </div>
      <div class="lg:w-1/2">
        <img  class="border" src="/assets/images/endpoint-security.jpg" />
      </div>
    </div>
  </div>
</section>
 
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Service Account Management</h2>
        <p class="mb-6 max-w-lg text-black text-lg  md:mb-10 lg:mb-12">Discover and manage service accounts. Deliver passwordless machine to machine authentication.</p>
        <a href="/service-accounts" class="inline-block bg-black px-6 py-3 font-semibold text-white">Learn more</a>
      </div>
      <div class="lg:w-1/2">
        <img src="/assets/images/service-accounts2.png" class="border" alt="" />
      </div>
    </div>
  </div>
</section>
  

<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Secrets Management</h2>
        <p class="mb-6 max-w-lg text-black text-lg  md:mb-10 lg:mb-12">Discover, manage, rotate and deliver secrets to access critical infrastructure</p>
        <a href="/secrets-management" class="inline-block bg-black px-6 py-3 font-semibold text-white">Learn more</a>
      </div>
      <div class="lg:w-1/2">
        <img src="/assets/images/secrets2.png" class="border" alt="" />
      </div>
    </div>
  </div>
</section>

