
<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <!-- Title -->
      <h2 class="text-center text-3xl font-bold md:text-5xl">How it works</h2>
      <p class="mx-auto mb-8 mt-4 max-w-lg text-center text-lg text-base sm:text-base md:mb-12 lg:mb-16">AuthNull's next generation PAM has all the key components to deliver secure remote access.</p>
      <!-- Content -->
      <div class="grid items-center gap-8 lg:grid-cols-2 lg:gap-12">
        <!-- List -->
        <div class="flex h-full flex-col [grid-area:2/1/3/2] lg:[grid-area:1/2/2/3]">
          <!-- Item -->
          <a class="mb-8 flex max-w-lg justify-center gap-4  px-6 py-5 text-[#222222]" >
            <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
              <p class="text-sm font-bold sm:text-base">4</p>
            </div>
            <div class="ml-4 flex flex-col gap-2">
              <h5 class="text-xl font-bold">Threat Detection and Response</h5>
              <p class="text-lg text-base">Dynamically detect remote session threats with AuthNull's Dynamic AuthZ. Create policies and apply them at <real-time class=""></real-time></p>
            </div>
          </a>
          <!-- Item -->
          <a class="mb-8 flex max-w-lg justify-center gap-4 px-6 py-5 text-[#222222]">
            <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
              <p class="text-sm font-bold sm:text-base">5</p>
            </div>
            <div class="ml-4 flex flex-col gap-2">
              <h5 class="text-xl font-bold">Biometric MFA</h5>
              <p class="text-lg text-base">Deliver Biometric MFA through AuthNull's authenticator app. Enable connections through automated credential lookups without having to additionally type cumberson OTPs</p>
            </div>
          </a>
          <!-- Item -->
          <a class="mb-8 flex max-w-lg justify-center gap-4 px-6 py-5 text-[#222222]">
            <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
              <p class="text-sm font-bold sm:text-base">6</p>
            </div>
            <div class="ml-4 flex flex-col gap-2">
              <h5 class="text-xl font-bold">Enable Service Account Authentication</h5>
              <p class="text-lg text-base">Enable Rule based Service Account Authentication with AuthNull for M2M use cases without using passwords or SSH Keys. </p>
            </div>
          </a>
        </div>
        <!-- Image -->
        <div class="flex flex-col grid-cols-1">
            <!-- Item -->
            <a class="mb-8 flex max-w-lg justify-center gap-4  px-6 py-5 text-[#222222]">
              <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
                <p class="text-sm font-bold sm:text-base">1</p>
              </div>
              <div class="ml-4 flex flex-col gap-2">
                <h5 class="text-xl font-bold">Secure Privilege Sessions</h5>
                <p class="text-lg text-base">Privilege Sessions are secured by assigning local privileged users to an identity, limiting the duration of access and rotating credentials as per policy or per use.</p>
              </div>
            </a>
            <!-- Item -->
            <a class="mb-8 flex max-w-lg justify-center gap-4 px-6 py-5 text-[#222222]">
              <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
                <p class="text-sm font-bold sm:text-base">2</p>
              </div>
              <div class="ml-4 flex flex-col gap-2">
                <h5 class="text-xl font-bold">Automatically discover and onboard privileged credentials</h5>
                <p class="text-lg text-base">AuthNull helps to automatically discover and onboard user and machine privileged accounts, rotate credentials and introduce MFA. Centralized management of credentials reduces IT workload for teams.</p>
              </div>
            </a>
            <!-- Item -->
            <a class="mb-8 flex max-w-lg justify-center gap-4 px-6 py-5 text-[#222222]" >
              <div class="flex h-10 w-10 flex-none items-center justify-center rounded-full bg-[#f2f2f7]">
                <p class="text-sm font-bold sm:text-base">3</p>
              </div>
              <div class="ml-4 flex flex-col gap-2">
                <h5 class="text-xl font-bold">Enable Remote Access to PAM</h5>
                <p class="text-lg text-base">Enable secure access for remote employees to privileged infrastructure without special agents, passwords, credentials like passwords or SSH keys through a single sign on platform. </p>
              </div>
            </a>
          </div>
      </div>
    </div>
  </section>
 
