<!-- Hero -->
<main class="min-h-screen custom-bg-beige pt-10">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Grid -->
        <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
          <div>
            <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight ">Simple lightweight PAM<span class="text-blue-600 bg-[url('../svg/illustration/text-highlighter-effect.svg')] bg-[0_100%] bg-no-repeat bg-[length:100%] -mx-2 px-2  "></span></h1>
            <p class="mt-3 text-lg text-gray-800 ">Authnull provides passwordless privileged access management for access and authentication to legacy infrastructure.</p>
      
            <!-- Buttons -->
            <div class="mt-7 grid gap-3 w-full sm:inline-flex">
              <a class="inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-sm lg:text-base text-white font-medium md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 " href="#">
                Get started
                <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </a>
              <a class="inline-flex justify-center items-center gap-x-3.5 text-sm lg:text-base text-center border hover:border-gray-300 shadow-sm font-medium md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4      " href="#">
                Contact sales team
              </a>
            </div>
            <!-- End Buttons -->
      
            <!-- Review -->
          
            <!-- End Review -->
          </div>
          <!-- End Col -->
      
          <div class="relative ml-4">
            <img class="w-full md" src="../assets/images/pamcover.png" alt="Image Description">
           
            <!-- End SVG-->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
</main>

  <!-- End Hero -->