<div class="text-center py-10 items-center px-4 sm:px-6 lg:px-6 bg-slate-50">
  <h1 class="block text-2xl font-bold text-indigo sm:text-4xl">Privileged Access Management</h1>
  <p class="mt-3 text-lg text-black">Authnull is a fully featured PAM solution enabling access control to your critical infrastructure. </p>
  <a href="#pamfeatures" class="text-blue-500">Learn more</a>. 

  <!-- <p class=" text-lg text-gray-300">authenticators</p> -->
  <div class="flex justify-center  mt-6 ">
   
    <div  class="flex justify-center  align-center ">
      <video  controls muted width="1000" height="800" name="Watch video">
        <source src="/assets/images/video.mov">
      </video>
      
    </div>
  </div>
 
</div>