<!-- Hero -->
  <!-- End Hero -->


  <section>

    <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
      <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Passwordless that just works</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Passwordless 1FA Authentication<br/> </p>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Introduce 1FA passwordless with decentralized credentials with AuthNull.  
                <br/> <br/>
                
                <a href="/mfa"> <button class="btn btn-outline  "> Switch to 2FA </button> </a>   <a href="/contactus"> <button class="btn btn-primary  "> Get a demo</button> </a> 
            </div>
  <br/>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl">
      <!-- Title -->
      
      <!-- Content -->
      <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
        <!-- Item -->
        <div class=" grid gap-6 rounded-md  border border-solid border-gray-300 p-8 md:p-10 bg-white ">
          <img src="/assets/images/active_directoryu.png" alt="" class="inline-block h-16" />
          <h3 class="text-xl text-black  font-semibold"> Passwordless logon for Active Directory accounts</h3>
          <p class="text-base text-black">Enable Active Directory authentication 1FA with passwordless. Works for Windows and Linux authentication.</p>
          <!-- <p class="text-base text-black"><a class="underline text-blue-800" href="/pam">Learn more</a></p> -->
  
        </div>
        <div class=" grid gap-6 rounded-md p-8 md:p-10 border border-solid border-gray-300 bg-white  ">
          <img src="/assets/images/m2m.png" alt="" class="inline-block h-16" />
          <h3 class="text-xl   text-black font-semibold">Passwordless for Service Accounts </h3>
          <p class="text-base text-black">Detect and protect unprotectable service accounts by introducing 1FA passworedless, or Delegated M2M authentication without human intervention</p>
          <p class="text-base text-black"><a class="underline text-blue-800" href="/service-accounts">Learn more</a></p>
  
        </div>
        <!-- Item -->
        <div class=" grid gap-6 rounded-md border border border-solid border-gray-300 bg-white md:p-10">
          <img src="/assets/images/linux.jpg" alt="" class="inline-block h-16" />
          <h3 class="text-xl text-black font-semibold">Passwordless for Apps</h3>
          <p class="text-base text-black">Launching soon - passwordless for your OIDC apps. Configure, issue and authenticate with OIDC / SAML2 apps with passwordless</p>
        </div>
        <!-- Features Item -->
        
      </div>
    </div>
  </section>
  


<!-- Section Features -->
 




<section>

  <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
    <div class="mx-auto max-w-screen-xl px-5 lg:px-5">

      <p class="mt-2 text-4xl font-bold tracking-tight text-blue-600 sm:text-4xl">Passwordless - How does it work?<br/> </p>

      <br/><br/><br/>
      <div style="position: relative; padding-top: 58.270458502611724%;">
        <iframe
          src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/3fb8038c95dce4e3372d684718c7c9b2/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2F3fb8038c95dce4e3372d684718c7c9b2%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
          loading="lazy"
          style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
          allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
      </div>
</div>
</div>
</section>