<!-- Features -->

<div class="h-screen  pb-10  lg:pb-14 mx-auto bg-gray-50 pt-0">
    
  <!-- Tab Nav -->
  <div class="flex justify-center w-full  custom-bg-beige">
    <nav class="max-w-6xl mx-auto grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4" aria-label="Tabs" role="tablist">
    
      <button type="button" class="hs-tab-active:bg-blue-50 hs-tab-active:hover:border-transparent text-center md:text-left border border-transparent hover:border-slate-300 p-3 md:p-5 rounded-xl    active" id="tabs-with-card-item-1" data-hs-tab="#tabs-with-card-1" aria-controls="tabs-with-card-1" role="tab">
        <span class="md:flex">
          <svg class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          </svg>
          <span class="md:ml-5">
            <span class="hs-tab-active:text-blue-600 block font-semibold text-gray-800">How does linux passwordless authentication work		</span>
            <span class="hidden lg:block mt-2 text-gray-800 ">Create a business, whether you’ve got a fresh idea.</span>
          </span>
        </span>
      </button>
  
      <button type="button" class="hs-tab-active:bg-blue-50 hs-tab-active:hover:border-transparent text-center md:text-left border border-transparent hover:border-slate-300 p-3 md:p-5 rounded-xl   " id="tabs-with-card-item-2" data-hs-tab="#tabs-with-card-2" aria-controls="tabs-with-card-2" role="tab">
        <span class="md:flex">
          <svg class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500  " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
          </svg>
          <span class="md:ml-5">
            <span class="hs-tab-active:text-blue-600 block font-semibold text-gray-800  ">How do I configure when I already use NIS or Active Directory			</span>
            <span class="hidden lg:block mt-2 text-gray-800">Use automation to scale campaigns profitably and save time doing it.</span>
          </span>
        </span>
      </button>
  
      <button type="button" class="hs-tab-active:bg-blue-50 hs-tab-active:hover:border-transparent text-center md:text-left border border-transparent hover:border-slate-300 p-3 md:p-5 rounded-xl   " id="tabs-with-card-item-3" data-hs-tab="#tabs-with-card-3" aria-controls="tabs-with-card-3" role="tab">
        <span class="md:flex">
          <svg class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500  " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
          </svg>
          <span class="md:ml-5">
            <span class="hs-tab-active:text-blue-600 block font-semibold text-gray-800  ">What happens if I already have a PAM solution in place			</span>
            <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-600">One tool for your company to share knowledge and ship projects.</span>
          </span>
        </span>
      </button>
    </nav>
  </div>

  <!-- End Tab Nav -->

  <!-- Tab Content -->
  <div class="mt-12 md:mt-16">
    <div id="tabs-with-card-1" role="tabpanel" aria-labelledby="tabs-with-card-item-1" class="flex justify-center">
        <iframe width="70%" height="450px" src="https://www.youtube.com/embed/j2vBT3T79Pg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
    </div>

    <div id="tabs-with-card-2" class="hidden flex justify-center" role="tabpanel" aria-labelledby="tabs-with-card-item-2" >
        <iframe width="70%" height="450px"  src="https://www.youtube.com/embed/I10mtZfVZ1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div id="tabs-with-card-3" class="hidden flex justify-center" role="tabpanel" aria-labelledby="tabs-with-card-item-3" >
        <iframe width="70%" height="450px"  src="https://www.youtube.com/embed/CagsZdJ3ZhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <!-- End Tab Content -->
</div>
<!-- End Features -->