

      <main
        class="max-w-[52rem] mx-auto px-4 pb-28 sm:px-6 md:px-8 xl:px-12 lg:max-w-6xl"
      >
        <header class="py-16 sm:text-center">
          <h1
            class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-900 font-extrabold "
          >
            Latest Updates
          </h1>
          <p class="text-lg text-slate-700 ">
            All the latest Authnull news, straight from the team.
          </p>
        </header>
        <div
          class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]"
        >
          <div
            class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200"
          ></div>
          <div class="space-y-16">
            <article class="relative group">
              <div
                class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-slate-50/70 "
              ></div>
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-slate-200  md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block"
              >
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke="currentColor"
                  class="fill-white "
                  stroke-width="2"
                ></circle>
              </svg>
              <div class="relative">
                <h3
                  class="text-base font-semibold tracking-tight text-slate-900  pt-8 lg:pt-0"
                >
                  Protocol: A beautiful starting point for your next API
                  documentation site
                </h3>
                <div
                  class="mt-2 mb-4 prose prose-slate prose-a:relative prose-a:z-10  line-clamp-2"
                >
                  <p>
                    It’s been months in the making but I’m excited to finally
                    release our next website template —
                    <a href="https://tailwindui.com/templates/protocol"
                      >Protocol</a
                    >, a beautiful starter kit for building amazing API
                    reference websites.
                  </p>
                </div>
                <dl
                  class="absolute left-0 top-0 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]"
                >
                  <dt class="sr-only">Date</dt>
                  <dd
                    class="whitespace-nowrap text-sm leading-6 "
                  >
                    <time datetime="2022-12-15T15:00:00.000Z"
                      >December 15, 2022</time
                    >
                  </dd>
                </dl>
              </div>
              <a
                class="flex items-center text-sm text-sky-500 font-medium"
                href="/blog/2022-12-15-protocol-api-documentation-template"
                ><span
                  class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl"
                ></span
                ><span class="relative"
                  >Read more<span class="sr-only"
                    >,
                    <!-- -->Protocol: A beautiful starting point for your next
                    API documentation site</span
                  ></span
                ><svg
                  class="relative mt-px overflow-visible ml-2.5 text-sky-300 "
                  width="3"
                  height="6"
                  viewBox="0 0 3 6"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M0 0L3 3L0 6"></path>
                  </svg></a>
            </article>
            <article class="relative group">
              <div
                class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-slate-50/70 "
              ></div>
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-slate-200  md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block"
              >
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke="currentColor"
                  class="fill-white "
                  stroke-width="2"
                ></circle>
              </svg>
              <div class="relative">
                <h3
                  class="text-base font-semibold tracking-tight text-slate-900  pt-8 lg:pt-0"
                >
                  Authnull v3.2: Dynamic breakpoints, multi-config, and
                  container queries, oh my!
                </h3>
                <div
                  class="mt-2 mb-4 prose prose-slate prose-a:relative prose-a:z-10  line-clamp-2"
                >
                  <p>
                    Well it’s that time again! The time where we quickly go from
                    <em
                      >“I really have no idea what we could even add to a new
                      Tailwind release”</em
                    >
                    to
                    <em
                      >“wow, well this is actually a ridiculous amount of new
                      stuff — we better tag a release before things get
                      completely out of hand”</em
                    >.
                  </p>
                </div>
                <dl
                  class="absolute left-0 top-0 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]"
                >
                  <dt class="sr-only">Date</dt>
                  <dd
                    class="whitespace-nowrap text-sm leading-6 "
                  >
                    <time datetime="2022-10-19T15:30:00.000Z"
                      >October 19, 2022</time
                    >
                  </dd>
                </dl>
              </div>
              <a
                class="flex items-center text-sm text-sky-500 font-medium"
                href="/blog/tailwindcss-v3-2"
                ><span
                  class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl"
                ></span
                ><span class="relative"
                  >Read more<span class="sr-only"
                    >,
                    <!-- -->Authnull v3.2: Dynamic breakpoints,
                    multi-config, and container queries, oh my!</span
                  ></span
                ><svg
                  class="relative mt-px overflow-visible ml-2.5 text-sky-300 "
                  width="3"
                  height="6"
                  viewBox="0 0 3 6"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M0 0L3 3L0 6"></path></svg></a>
            </article>
        
          </div>
        </div>
      </main>

