<!-- Card Blog -->
<main class="bg-white">
   

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <h1 class="text-center text-3xl font-bold text-gray-800 sm:text-4xl mb-5">
Blogs
   </h1>
 
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 ">
    <!-- Card -->
 

    {% for post in site.posts %}
   
    <!-- End Card -->

    <!-- Card -->
    <!-- End Card -->

    <!-- Card -->


    <div class="card w-96 bg-base-100 hover:bg-blue-50 " style="z-index: 5000;">
      <a href="{{post.url}}">
      <figure style="height:150px; overflow: hidden;"><img src="{{post.image}}" style="width:80% overflow: hidden;" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          {{post.title}}
        </h2>
        <p>{{post.excerpt}}</p>
       
      </div>
    </a>
    </div>


  
    

   
    {% endfor %}
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
</main>