<main class=" min-h-screen">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Grid -->
        <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl">
          Why decentralized identity for passwordless?
      </h2>
      <br/> <br/>
        <div class="grid md:grid-cols-2 gap-12">
        
          <!-- End Col -->
      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex">
          <!-- <svg class="flex-shrink-0 mt-2 h-6 w-6 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
          </svg> -->
          <div class="ml-5 sm:ml-8">              

            <h3 class="text-base sm:text-lg font-semibold text-gray-800">
              <span class="font-medium text-blue-800">></span>   User owns the Identity
            </h3>
            <p class="mt-1 text-gray-600">
              The user owns the individual identity on their wallets as opposed to a centralized identity and access management solution
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
  
        <!-- Icon Block -->
        <div class="flex">
          <div class="ml-5 sm:ml-8">
            <h3 class="text-base sm:text-lg font-semibold text-gray-800">
              <span class="font-medium text-blue-800">></span>Credentials are managed by the user
            </h3>
            <p class="mt-1 text-gray-600">
              All credentials are managed by the user using standards based verifiable credentials
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="ml-5 sm:ml-8">
            <h3 class="text-base sm:text-lg font-semibold text-gray-800">
              <span class="font-medium text-blue-800">> </span> Standards based
            </h3>
            <p class="mt-1 text-gray-600">
              W3C Verified credentials and in compliance with NIST Special Publication 800-63-3
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
  
        <!-- Icon Block -->
       
        
        <!-- End Icon Block -->
      </div>
          <div class="space-y-6 lg:space-y-10">
            <!-- Icon Block -->
            <div class="flex ">
              <!-- <svg class="flex-shrink-0 mt-2 h-6 w-6 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
              </svg> -->
              <div class="ml-5 sm:ml-8">
                <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                  <span class="font-medium text-blue-800">> </span>Reduced / No attack surface
                </h3>
                <p class="mt-1 text-gray-600">
                    Although in legacy infrastructure, local passwords will continue to exist for local accounts, they are managed by the machines. Authnull provides a PAM solution with a decentralized identifier enabled to reduce the attack surface as credentials are delegated to the users wallet.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
      
            <!-- Icon Block -->
            <div class="flex">
              <div class="ml-5 sm:ml-8">
                <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                  <span class="font-medium text-blue-800">> </span> Fraud proof credentials
                </h3>
                <p class="mt-1 text-gray-600">
                    Issuing organizations can provide fraud-proof credentials and verifying organizations can instantly check the authenticity of credentials.
                </p>
              </div>
            </div>
            <div class="flex ">
              <div class="ml-5 sm:ml-8 ">
                <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                  <span class="font-medium text-blue-800">> </span>Self Sovereign Identity
                </h3>
                <p class="mt-1 text-gray-600">
                    Helps implement self owned, self managed identity as opposed to management of third parties
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
      
            <!-- Icon Block -->
           
            
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
</main>

  <!-- End Icon Blocks -->