

<main class="bg-slate-50">
   

<div class="max-w-[85rem] px-4 py-4 sm:px-4 lg:px-8 lg:py-4 mx-auto">
  <!-- Grid -->

  
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 ">
    <!-- Card -->
    {% for resource in site.resources %}
    {% assign value = forloop.index | modulo:3 %}
    {% if value != 0 %}
    <a class="group rounded-xl overflow-hidden hover:shadow-lg hover:bg-slate-50   md:p-6" href="{{resource.url}}">
      <div class="relative pt-[50%] sm:pt-[70%] rounded-xl ">
        <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{{resource.image}}" alt="{{resource.imagedescription}}">
       
      </div>

      <div class="mt-7">
        <h2 class="text-2xl mx-2 group-hover:text-blue-00 ">
          {{resource.title}}
        </h2>
        <p class="mt-5 mx-2 text-gray group-hover:text-black  text-xl ">
          {{resource.excerpt}}
        </p>
        <p class=" inline-flex items-center   decoration-2 text-xl">
         
          <div class="  mx-2   text-xl font-medium text-blue-600 ">
            <button type="button" class="   text-xl font-medium py-3  px-4 inline-flex justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-600 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800">
              View
            </button>
          </div>

        </p>
        
      </div>
    </a>

   
    {% else %}
   
    <!-- End Card -->

    <!-- Card -->
    <!-- End Card -->

    <!-- Card -->

    <a class="group relative flex flex-col w-full min-h-[15rem] bg-blue-100 hover:bg-slate-50 bg-cover hover:shadow-lg transition bg-[url('../..{{resource.image}}')]" href="{{resource.url}}">
      <div class="relative pt-[50%] sm:pt-[70%] overflow-hidden">
        <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="{{resource.image}}" alt="Image Description">
       
      </div>
        <div class="flex-auto p-4 md:p-6">
        <h3 class="text-2xl text-black group-hover:text-black"><span class="font-bold">{{resource.title}}</span></h3>
        <p class="mt-5 text-gray group-hover:text-black ">
          {{resource.excerpt}}
        </p>
      </div>
      <div class="pt-0 p-4 md:p-6">
        <div class="  mx-2   text-xl font-medium text-blue-600 ">
          <button type="button" class="   text-xl font-medium py-3  px-4 inline-flex justify-center items-center gap-2 rounded-md bg-blue-400 border border-transparent font-semibold text-white hover:text-white hover:bg-blue-600 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800">
           View
          </button>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
</main>