<!-- Hero -->
  <!-- End Hero -->
  
  <main class="bg-gradient-to-r  from-white to-slate-100  min-h-screen" >

    <div class="overflow-hidden py-16 sm:py-16">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Decentralized Identity Infrastructure; Self-sovereign-identity</p>
              <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull is a standards based decentralized identity infrastructure that delegates trust to users and organizations. AuthNull uses <a class="text-blue-800 underline" href='https://www.w3.org/TR/did-core/'>Decentralized identifiers</a>,  <a class="text-blue-800 underline" href='https://www.w3.org/TR/vc-data-model-2.0/'>verifiable credetials</a> and <a class="text-blue-800 underline" href='https://ed25519.cr.yp.to/'>ED25519 public / private key pairs</a> to issue and sign credentials on a decentralized wallet.

                <br/> <br/>
                 
 
                  <br/><br/>
                <button class="btn btn-primary btn-blue"> Get a demo</button>  
            </div>
            
           
          </div>
          <div class="lg:pr-8 lg:pt-4">
            <div style="position: relative; padding-top: 56.25%;">
              <iframe
                src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/5c654f51f7c8e8aef9d029b34f167e08/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2F5c654f51f7c8e8aef9d029b34f167e08%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
                loading="lazy"
                style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
                allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                allowfullscreen="true"
              ></iframe>
            </div>

            

            </div>
         
        </div>
      </div>
    </div>
  </main> 

 

  <main class="bg-white min-h-screen" >

    <div class="overflow-hidden py-16 sm:py-16">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Two roots of trust</p>
              <p class="mt-6 text-lg leading-8 text-gray-900">  Two roots of trust (two pairs of public / private keys) - that are requried to issue and sign credentials before infrastructure is accessed.
                <br/> <br/>
                <h3 class="text-2xl"> How does this work? </h3>
                <p class="mt-6 text-lg leading-8 text-gray-900">  Admins are issued public / private key pairs and they reside on admin wallet. Additionally claims are logged on public blockchains.</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  When users are issued credentials, admin claims are used to issue the same. Users are issued their own private keys (which resides in their wallets).</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  All user claims ust be signed by the users' private keys in order to be able to access any infrastructure.
               
 
                  <br/><br/>
                <button class="btn btn-primary btn-blue"> Get a demo</button>  
            </div>
            
           
          </div>
          <div width="500px">
           <img src="/assets/images/two-roots-of-trust.png" wdith="460px"/>
          </div>
        </div>
      </div>
    </div>
  </main> 

  



  <main class="bg-gradient-to-r  from-blue-50 to-blue-100  min-h-screen transition delay-150  " >
    <a name="identity-linked-authentication" />  
    <a name="authenticator" /> 
        <div class="overflow-hidden py-24 sm:py-32">
          <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
            <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                  <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
                  <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">AuthNull's credential store: Decentralized wallet authenticator app</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull mobile app wallet (available for iOS and Android) acts as a credential store and an authenticator app
                    <br/> <br/>
                    <h3 class="text-2xl"> How does this work? </h3>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull mobile app for Android and iOS for storing credentials and authentication.</p>
                        <p class="mt-6 text-lg leading-8 text-gray-900">  User's private keys are tied to biometrics. All authentication is forced through biometrics</p>
                   
                    <br/><br/><button class="btn btn-primary btn-blue"> Get a demo</button>  
                </div>
              </div>
              <div width="500px">
                <div style="position: relative; padding-top: 216.21621621621622%;">
                  <iframe
                    src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/ac456175f34cb87ee9d60c50b7900871/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fac456175f34cb87ee9d60c50b7900871%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
                    loading="lazy"
                    style="border: none; position: absolute; top: 0; left: 0; height: 70%; width: 70%;"
                    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                    allowfullscreen="true"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> 

<!--
      <main class="bg-gradient-to-r  from-yellow-50 to-yellow-200  min-h-screen transition delay-150  " >
        <a name="identity-linked-authentication" />  
        <a name="restore" /> 
            <div class="overflow-hidden py-24 sm:py-32">
              <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
                <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                  <div class="lg:pr-8 lg:pt-4">
                    <div class="lg:max-w-lg">
                      <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
                      <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Restoration of Wallet with Seed Phrases</p>
                      <p class="mt-6 text-lg leading-8 text-gray-900">  What do you do when you lose access to the Wallet on your mobile phone?
                        <br/> <br/>
                        <h3 class="text-2xl"> AuthNull uses BIP39 [Bitcoin Improvement Proposal number 39 (BIP39)] to generate seed phrases which can be used to restore the wallet in case the device was lost. </h3>
                        <p class="mt-6 text-lg leading-8 text-gray-900">  While this has nothing to do with Bitcoin itself, it was pioneered within the blockchain commuity to restore access to the users' decentralized wallets.</p>
                            <p class="mt-6 text-lg leading-8 text-gray-900">  <b>How does this work? </b><br/>AuthNull generates a set of seed phrases which needs to be noted down. When attempting to restore, these seed phrases can be used to acquire a new public-private keypair for the user.</p>
                       
                        <br/><br/><button class="btn btn-primary btn-blue"> Get a demo</button>  
                    </div>
                  </div>
                  <div >
                   <img src="/assets/images/bip39.png" width="400px"/>
                  </div>
                </div>
              </div>
            </div>
          </main> -->