<!-- Hero -->
  <!-- End Hero -->
  

  <main class="bg-gradient-to-r  from-white to-slate-100  min-h-screen" >

    <div class="overflow-hidden py-16 sm:py-16">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Two roots of trust</p>
              <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull is a decentralized, vaultless system with two roots of trust (two pairs of public / private keys) - that are requried to issue and sign credentials before infrastructure is accessed.
                <br/> <br/>
                <h3 class="text-2xl"> How does this work? </h3>
                <p class="mt-6 text-lg leading-8 text-gray-900">  Admins are issued public / private key pairs and they reside on admin wallet. Additionally claims are logged on public blockchains.</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  When users are issued credentials, admin claims are used to issue the same. Users are issued their own private keys (which resides in their wallets).</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  All user claims ust be signed by the users' private keys in order to be able to access any infrastructure.
               
 
                  <br/><br/>
                <button class="btn btn-primary btn-blue"> Get a demo</button>  
            </div>
            
           
          </div>
          <div width="500px">
           <img src="/assets/images/two-roots-of-trust.png" wdith="460px"/>
          </div>
        </div>
      </div>
    </div>
  </main> 

  <main class="bg-gradient-to-r  from-slate-50 to-slat-200  min-h-screen transition delay-150  " >
<a name="identity-linked-authentication" />  
    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Identity linked authentication</p>
              <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull delivers an identity linked authentication using biometrics, a verifiable identity linked to the organization's account to deliver prvileged access.
                <br/> <br/>
                <h3 class="text-2xl"> How does this work? </h3>
                <p class="mt-6 text-lg leading-8 text-gray-900">  Every user is issued public/private key pairs after their organization identity is verified.</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  User's private keys are tied to biometrics. All authentication is forced through biometrics</p>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  What this means is that even if the user shares passwords to a machine, no one else can login unless users' identity is verified using biometrics.
               
                <br/><br/><button class="btn btn-primary btn-blue"> Get a demo</button>  
            </div>
          </div>
          <div width="500px">
           <img src="/assets/images/identity.png" wdith="460px"/>
          </div>
        </div>
      </div>
    </div>
  </main> 


  <main class="bg-gradient-to-r  from-blue-50 to-blue-100  min-h-screen transition delay-150  " >
    <a name="identity-linked-authentication" />  
    <a name="authenticator" /> 
        <div class="overflow-hidden py-24 sm:py-32">
          <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
            <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                  <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
                  <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Authenticator Wallet</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull mobile app wallet (available for iOS and Android)
                    <br/> <br/>
                    <h3 class="text-2xl"> How does this work? </h3>
                    <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull mobile app for Android and iOS for storing credentials and authentication.</p>
                        <p class="mt-6 text-lg leading-8 text-gray-900">  User's private keys are tied to biometrics. All authentication is forced through biometrics</p>
                   
                    <br/><br/><button class="btn btn-primary btn-blue"> Get a demo</button>  
                </div>
              </div>
              <div width="500px">
               <img src="/assets/images/wallet3.png" wdith="460px"/>
              </div>
            </div>
          </div>
        </div>
      </main> 


      <main class="bg-gradient-to-r  from-yellow-50 to-yellow-200  min-h-screen transition delay-150  " >
        <a name="identity-linked-authentication" />  
        <a name="restore" /> 
            <div class="overflow-hidden py-24 sm:py-32">
              <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
                <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                  <div class="lg:pr-8 lg:pt-4">
                    <div class="lg:max-w-lg">
                      <h2 class=" font-semibold leading-7 text-black">Security Approach</h2>
                      <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Restoration of Wallet with Seed Phrases</p>
                      <p class="mt-6 text-lg leading-8 text-gray-900">  What do you do when you lose access to the Wallet on your mobile phone?
                        <br/> <br/>
                        <h3 class="text-2xl"> AuthNull uses BIP39 [Bitcoin Improvement Proposal number 39 (BIP39)] to generate seed phrases which can be used to restore the wallet in case the device was lost. </h3>
                        <p class="mt-6 text-lg leading-8 text-gray-900">  While this has nothing to do with Bitcoin itself, it was pioneered within the blockchain commuity to restore access to the users' decentralized wallets.</p>
                            <p class="mt-6 text-lg leading-8 text-gray-900">  <b>How does this work? </b><br/>AuthNull generates a set of seed phrases which needs to be noted down. When attempting to restore, these seed phrases can be used to acquire a new public-private keypair for the user.</p>
                       
                        <br/><br/><button class="btn btn-primary btn-blue"> Get a demo</button>  
                    </div>
                  </div>
                  <div >
                   <img src="/assets/images/bip39.png" width="400px"/>
                  </div>
                </div>
              </div>
            </div>
          </main> 