<a name="pamfeatures"></a> 
 
 
  <main class="bg-gradient-to-r  from-slate-50 to-slate-50  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Next Generation PAM</h2>
              <p class="mt-2 text-5xl font-bold tracking-tight text-indigo-800 sm:text-5xl">Secrets Management</p>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7  lg:max-w-none">
             
                
                <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull provides secrets management for critical infrastructure </p>
        
                   
                
                   
                   
                 
              </dl>
                <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
            </div>
          </div>
          <div>
            <img src="/assets/images/how-it-works.png">
          </div>
        </div>
      </div>
    </div>
  </main> 


 


<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row-reverse lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Automated discovery of Privileged Credentials</h2>
        <p class="mb-6 max-w-lg text-black text-lg md:mb-10 lg:mb-12">AuthNull performs comprehensive discovery of all of your credentials in privileged infrastructure.</p>
       </div>
      <div class="lg:w-1/2">
        <img  class="border" src="/assets/images/secrets3.png" />
      </div>
    </div>
  </div>
</section>
 
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Password / SSH Key rotation and distribution</h2>
        <p class="mb-6 max-w-lg text-black text-lg  md:mb-10 lg:mb-12">Depending upon the policies issued, AuthNull can rotate and distribute credentials to users who requiure access</p>
      </div>
      <div class="lg:w-1/2">
        <img src="/assets/images/secrets.png" class="border" alt="" />
      </div>
    </div>
  </div>
</section>


