<a name="pamfeatures"></a> 

   
<section>

  <div class="overflow-hidden py-6 sm:py-6  bg-slate-50">
    <div class="mx-auto max-w-screen-xl px-5 lg:px-5">  
      <div class="flex flex-col items-start">
            <h2 class=" font-semibold leading-7 text-black">A radically better approach to Secrets store </h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Secrets Management <br/> </p>
            <p class="mt-2 text-lg leading-8 text-gray-900">The AuthNull Secrets solution helps you to store and manage secrets without a central store.  Simplify securing non human identities for apps, devops pipelines and cloud workloads. </p> 
               
              
             <a href="/contactus" class="mt-2"> <button class="btn btn-primary  "> Get a demo</button> </a> 
      </div> 
  

          

         
    


<!-- Section Features  -->
<section>
  <!-- Features Container -->
  <div class="mx-auto max-w-7xl py-8  md:py-8 lg:py-8">
    <!-- Features Title -->
   <!-- 
    <label class="text-xl">Show features for&nbsp;&nbsp; </label>

                <label for="all" class="text-lg padding-right"><input type="checkbox" id="all" checked> All &nbsp;&nbsp;</label> 
                <label for="platform" class="text-lg padding-right"> <input type="checkbox" id="platform" class="filter" checked> Active Directory Secrets &nbsp;&nbsp;</label>
                <label for="usecases"class="text-lg"><input type="checkbox" id="usecases" class="filter" checked> OIDC app secrets &nbsp;&nbsp; </label>
                <label for="differentiation"class="text-lg"><input type="checkbox" id="differentiation" class="filter" checked> DevOps &nbsp;&nbsp;</label>

                <br/><br/>  
                -->
                <!-- Title -->
    <!-- Features Grid -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6 ">
      <!-- Features Item -->
      <div name="content-box "  class=" item usecases content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/decentralized-icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Decentralized</p>
        <p class="text  text-black">A fully decentralized platform means credentials are distributed to individual users' devices., and that you do not need to manage a vault. This removes a single point of failure and dramatically improves security.</p>
      </div>
      <!-- Features Item -->
      <div name="content-box "  class=" item usecases content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358bc975b21e904613ae60d_Frame%2047885-2.svg" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Automated Password Rotations for Local and Active Directory Accounts</p>
        <p class="text  text-black">Local endpoint based users, as well as active directory accounts are directly managed by the secrets manager. Password rotations help deliver a secure enterprise policy.</p>
      </div>
      <!-- Features Item -->
      <div name="content-box "  class=" item usecases platform content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/oneclick_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">One Click Remote Connections</p>
        <p class="text  text-black">Connect to your infrastructure with one click remote connections eliminating typing of passwords.</p>
      </div>
      <!-- Features Item -->
      <div name="content-box "  class=" item platform content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/enterprise_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Enterprise Ready</p>
        <p class="text  text-black">SIEM integrations, extensive auditing and automated offboarding / onboarding of users make it enterprise ready.</p>
      </div>
      <!-- Features Item -->
      <div name="content-box "  class=" item usecases content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/securityshield_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Protect and Organize passwords and secrets from your PAM</p>
        <p class="text  text-black">AuthNull's secret manager is tightly integrated with PAM platform so that passwords are organized and managed without additional effort. </p>
      </div>
      <!-- Features Item -->
      <div name="content-box "  class=" item usecases content-box grid gap-6 rounded-md  border border-solid border-gray-300 bg-gradient-to-r from-blue-50 to-blue-50 p-8 md:p-10">
        <img src="/assets/images/Protect-Icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Vastly simpler and more secure</p>
        <p class="text text-black">AuthNull's password management platform is vastly more secure thanks to its decentralized nature, and far more easier to manage since you actually don't have to manage a secrets vault" > </p>
      </div>
    </div>
  </div>
</section>
 


 
<section class="bg-slate-50">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold md:text-5xl">Vaultless architecture - how does it work?</h2>
      <p class="mx-auto mb-8 mt-4 max-w-lg text-[#647084] md:mb-12 lg:mb-16"> Watch this video to understand how does AuthNull's vaultless architecture work</p>
    </div>
    <!-- Component -->
    <div style="position: relative; padding-top: 60.76610562971562%;">
      <iframe
        src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/dcafe3f13b31e45468fab3d629c5dd1a/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fdcafe3f13b31e45468fab3d629c5dd1a%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
        loading="lazy"
        style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>

    
  </div>
</section>



<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js'></script>
<script src='https://assets.codepen.io/16327/Flip.min.js'></script>
      <script id="rendered-js" >
"use strict";
const allCheckbox = document.querySelector('#all'), filters = gsap.utils.toArray('.filter'), items = gsap.utils.toArray('.item');
function updateFilters() {
    const state = Flip.getState(items), // get the current state
    classes = filters.filter(checkbox => checkbox.checked).map(checkbox => "." + checkbox.id), matches = classes.length ? gsap.utils.toArray(classes.join(",")) : classes;
    // adjust the display property of each item ("none" for filtered ones, "inline-flex" for matching ones)
    items.forEach(item => item.style.display = matches.indexOf(item) === -1 ? "none" : "block");
    // animate from the previous state
    Flip.from(state, {
        duration: 0.7,
        scale: true,
        ease: "power1.inOut",
        stagger: 0.08,
        absolute: true,
        onEnter: elements => gsap.fromTo(elements, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, duration: 1 }),
        onLeave: elements => gsap.to(elements, { opacity: 0, scale: 0, duration: 1 })
    });
    // Update the all checkbox:
    allCheckbox.checked = matches.length === items.length;
}
filters.forEach(btn => btn.addEventListener('click', updateFilters));
allCheckbox.addEventListener('click', () => {
    filters.forEach(checkbox => checkbox.checked = allCheckbox.checked);
    updateFilters();
});
//# sourceURL=pen.js
    </script>
 