<a name="pamfeatures"></a> 
 
 
  <main class="bg-gradient-to-r  from-slate-50 to-slate-50  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">Enterprise Password Manager </h2>
              <p class="mt-2 text-5xl font-bold tracking-tight text-indigo-800 sm:text-5xl">Secrets Management & Secure Password Vault</p>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7  lg:max-w-none">
             
                
                <p class="mt-6 text-lg leading-8 text-gray-900"> Designed for security and crafted for IT teams, the AuthNull Secrets Manager helps you to store and manage secrets without a central store. 
                  organize, share, and keep track of all passwords. A decentralized vault makes it significantly more secure and makes it easier to manage than a centralized vault.</p>
        
                   
                
                   
                   
                 
              </dl>
                <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
            </div>
          </div>
          <div>
            <img src="/assets/images/how-it-works.png">
          </div>
        </div>
      </div>
    </div>
  </main> 


<!-- Section Features  -->
<section>
  <!-- Features Container -->
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Features Title -->
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold md:text-5xl">AuthNull Secrets Manager Features</h2>
      <p class="mx-auto mb-8 mt-4 max-w-lg text-[#647084] md:mb-12 lg:mb-16"> Audit, monitor, and record all activity. Automate password rotations, ensure compliance with standards and reduce security risks.</p>
    </div>
    <!-- Features Grid -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="/assets/images/decentralized-icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Decentralized</p>
        <p class="text text-[#636262]">A fully decentralized platform means credentials are distributed to individual users' devices., and that you do not need to manage a vault. This removes a single point of failure and dramatically improves security.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358bc975b21e904613ae60d_Frame%2047885-2.svg" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Automated Password Rotations for Local and Active Directory Accounts</p>
        <p class="text text-[#636262]">Local endpoint based users, as well as active directory accounts are directly managed by the secrets manager. Password rotations help deliver a secure enterprise policy.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="/assets/images/oneclick_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">One Click Remote Connections</p>
        <p class="text text-[#636262]">Connect to your infrastructure with one click remote connections eliminating typing of passwords.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="/assets/images/enterprise_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Enterprise Ready</p>
        <p class="text text-[#636262]">SIEM integrations, extensive auditing and automated offboarding / onboarding of users make it enterprise ready.</p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="/assets/images/securityshield_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Protect and Organize passwords and secrets from your PAM</p>
        <p class="text text-[#636262]">AuthNull's secret manager is tightly integrated with PAM platform so that passwords are organized and managed without additional effort. </p>
      </div>
      <!-- Features Item -->
      <div class="grid gap-8 border border-solid border-[#dfdfdf] p-8 md:p-10">
        <img src="/assets/images/customer_icon.png" alt="" class="inline-block h-16" />
        <p class="text-xl font-semibold">Vastly simpler and more secure</p>
        <p class="text text-[#636262]">AuthNull's password management platform is vastly more secure thanks to its decentralized nature, and far more easier to manage since you actually don't have to manage a secrets vault.</p>
      </div>
    </div>
  </div>
</section>
 


 
<section class="bg-slate-50">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold md:text-5xl">Vaultless architecture - how does it work?</h2>
      <p class="mx-auto mb-8 mt-4 max-w-lg text-[#647084] md:mb-12 lg:mb-16"> Watch this video to understand how does AuthNull's vaultless architecture work</p>
    </div>
    <!-- Component -->
    <div style="position: relative; padding-top: 60.76610562971562%;">
      <iframe
        src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/dcafe3f13b31e45468fab3d629c5dd1a/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fdcafe3f13b31e45468fab3d629c5dd1a%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
        loading="lazy"
        style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen="true"
      ></iframe>
    </div>
  </div>
</section>


