<a name="pamfeatures"></a> 
 
 
  <main class="bg-gradient-to-r  from-blue-50 to-blue-200  min-h-screen" >

    <div class="overflow-hidden py-24 sm:py-32">
      <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
        <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class=" font-semibold leading-7 text-black">M2M</h2>
              <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Service accounts authentication & management</p>
              <dl class="mt-10 max-w-xl space-y-8 text-base leading-7  lg:max-w-none">
             
                
                <p class="mt-6 text-lg leading-8 text-gray-900">  <b class="text-3xl"> Service accounts on AuthNull: What problem do we solve? </b> <br/>AuthNull enables service account authentication and management without reliance on just passwords and SSH keys.</p>                
                <p class="mt-6 text-lg leading-8 text-gray-900"> <b class="text-3xl"> M2M Authentication with policy control</b> <br/>AuthNull facilitates non human, non interactive privilege authentication between machines with policy control and MFA.</p>

                   
                 
              </dl>
                <br/><br/><a href="/contactus"><button class="btn btn-active btn-primary"> Get a demo</button></a> 
            </div>
          </div>
          <div >

            <div >
              <img src="/assets/images/service-account.png" alt="" class="relative mt-20 w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-[50rem] md:-ml-4 lg:-ml-0" width="2032" height="1042" />
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main> 


<style type="text/css">

</style>




<section>
    <main class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32   min-h-screen" >
      <h1 class="stickymb-6 max-w-3xl text-4xl font-bold md:mb-10 md:text-6xl lg:mb-12">How does this work?</h1>

    <!-- Container -->
    <div class="pt-48">
      <!-- Component -->
      <div class="relative py-16 md:py-24 lg:py-32">
        <!-- Item -->
        <div class="sticky top-0 -mt-48 mb-48  border-t border-black bg-white px-5 py-10 sm:px-20">
          <div class="mb-14 flex gap-8 text-2xl font-bold">
            <p>01</p>
            <p>Setup service account permissions</p>
          </div>
          <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
            <div class="max-w-2xl">
              <img class="border border-black " src="/assets/images/service-account-permissions.png" alt="" />
            </div>
            <div class="max-w-2xl">
              <h2 class="mb-4 text-3xl font-bold md:text-5xl">Setup service account permissions</h2>
              <p class="text-sm text-[#636262] sm:text-base">Setting up service account permissions ensure that service accounts can engage in M2M authentication without having to use passwords or SSH Keys</p>
            </div>
          </div>
        </div>
        <!-- Item -->
        <div class="sticky top-24 -mt-24 mb-24 border-t border-black bg-white px-5 py-10 sm:px-20">
          <div class="mb-14 flex gap-8 text-2xl font-bold">
            <p>02</p>
            <p>Delegating claims for M2M authentication</p>
          </div>
          <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
            <div class="max-w-2xl">
              <img class="border border-black " src="/assets/images/claim-delegation.png" alt="" />
            </div>
            <div class="max-w-2xl">
              <h2 class="mb-4 text-3xl font-bold md:text-5xl">Delegation of claims</h2>
              <p class="ext-sm text-[#636262] sm:text-base">All credentials must be held by a human identity based wallet, however they can choose to delegate those credentials so that the claims can be accessed without human interaction.</p>
            </div>
          </div>
        </div>
        <!-- Item -->
        <div class="sticky top-48  border-t border-black bg-white px-5 py-10 sm:px-20">
          <div class="mb-14 flex gap-8 text-2xl font-bold">
            <p>03</p>
            <p>Auditing</p>
          </div>
          <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
            <div class="max-w-2xl">
              <img class="border border-black" src="/assets/images/audit-logs.png" alt="" />
            </div>
            <div class="max-w-2xl">
              <h2 class="mb-4 text-3xl font-bold md:text-5xl">Authenticate M2M & Monitor Audit Logs</h2>
              <p class="ext-sm text-[#636262] sm:text-base">Once service account m2m authentication starts, audit Logs are continously generated. These audit logs can be monitored and captured to understand all m2m activity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
  </section>
 



 
<!-- Section FAQ -->
<section>
  <!-- FAQ Container -->
  <div class="bg-slate-50 mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- FAQ Title -->
    <div class="mb-8 text-center md:mb-12 lg:mb-16">
      <p class="text-sm font-bold uppercase text-[#276ef1]">FAQS</p>
      <h2 class="text-3xl font-bold md:text-5xl">FAQ's on Service Account </h2>
      <p class="mx-auto mt-4 max-w-lg text-[#647084]">Here are some frequency asked questions for service account authnentication</p>
    </div>
    <!-- FAQ Content -->
    <div class="join join-vertical w-full">
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" checked="checked" /> 
        <div class="collapse-title text-xl font-medium">
         How does AuthNull's M2M authentication work?
        </div>
        <div class="collapse-content"> 
          <p>Service accounts authentication works the same way traditional OS authentication works. Except since AuthNull is also a privileged access MFA solution these authentication are routed for verification through AuthNull. What this means is that if clear policies are not created, AuthNull will decline the authentication even though users might have access to necessary claims.</p>
        </div>
      </div>
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" /> 
        <div class="collapse-title text-xl font-medium">
          What are the key differentiators of service account features of AuthNull?
        </div>
        <div class="collapse-content"> 
          <p>AuthNull's service features enable Linux M2M authentication, without just reliance on passwords, secrets or SSH Keys. This means there could be more than one factor available.</p>
        </div>
      </div>
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" /> 
        <div class="collapse-title text-xl font-medium">
         Does the Service account depend on a Human wallet?
        </div>
        <div class="collapse-content"> 
          <p>When authentication policies and claims are created, there is a dependency on the wallet. Once the claims are delegated then there's no dependency on admin wallets.</p>
        </div>
      </div>
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" /> 
        <div class="collapse-title text-xl font-medium">
        Are windows service accounts supported?
        </div>
        <div class="collapse-content"> 
          <p>Support for windows service accounts is coming soon.</p>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" /> 
      <div class="collapse-title text-xl font-medium">
       Are Active Directory based service accounts supported?
      </div>
      <div class="collapse-content"> 
        <p>Support for Active Directory based service accounts is coming soon. </p>
      </div>
    </div>
    <!-- FAQ Text --><br/><br/>
    <p class="text-center">Can’t find the answer you’re looking for? Reach out to our <a href="#">customer support team</a>.</p>
  </div>
</section>


