<!-- Team -->
<main class="custom-bg-light-blue">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight ">Our Team</h2>
        </div>
        <!-- End Title -->
      
        <!-- Grid -->
        <div class="grid grid-cols-2 md:grid-cols-3 gap-6 md:gap-10 xl:gap-16">
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/asif.jpeg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Asif Ali
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                CEO 
              </p>
            </div>
          </div>
          <!-- End Col -->
      
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/hussain.jpg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Hussain
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                VP Engineering
              </p>
            </div>
          </div>
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/sathish.jpeg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Sathish
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Head Of Operations
              </p>
            </div>
          </div>
          <!-- End Col -->
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/ahrar.png" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Ahrar
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Project Manager
              </p>
            </div>
          </div>
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/Inam.png" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Inam Habib
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Sr Developer
              </p>
            </div>
          </div>
          <!-- End Col -->
      
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/manju.jpg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Manju Priyadarshini
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Sr Developer
              </p>
            </div>
          </div>

          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/bijay.jpeg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Bijay Sharma
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Developer
              </p>
            </div>
          </div>
          <!-- End Col -->
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/wajahat.jpeg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Wajahat Quazi
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Developer
              </p>
            </div>
          </div>
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/hema.jpg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Hemalatha
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Developer
              </p>
            </div>
          </div>
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/pompita.jpg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Pompita
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Front-end Developer
              </p>
            </div>
          </div>

          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/sefali.png" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Sefali
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Back-end Developer
              </p>
            </div>
          </div>
          <!-- End Col -->
      
        
          <!-- End Col -->
      
         
          <!-- End Col -->
          <div class="text-center">
            <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src="../assets/images/samir.jpeg" alt="Image Description">
            <div class="mt-2 sm:mt-4">
              <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg ">
                Samir
              </h3>
              <p class="text-xs text-gray-600 sm:text-sm lg:text-base ">
                Back-End Developer
              </p>
            </div>
          </div>

          <!-- End Col -->

 
        
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
</main>

  <!-- End Team -->