<!-- Testimonials -->

<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="bg-white min-h-screen bg-slate-50">
    <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
       Here's what our customers say:
        <br>
       
      </h2>
      
    </div>
 

  

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
        <div class="flex-auto p-4 md:p-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
              </svg>
              
  
          <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl dark:text-white"><em>
            "  I am really excited at the future of PAM as envisioned by AuthNull. This is exciting stuff that makes our jobs a lot easier. "
          </em></p>
        </div>
  
        <div class="p-4 rounded-b-xl md:px-6">
          <h3 class="text-sm font-semibold text-gray-800 sm:text-base dark:text-gray-200">
            Nick 
          </h3>
          <p class="text-sm text-gray-500">
           CISO @ Fortune 100 co.
          </p>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
        <div class="flex-auto p-4 md:p-6">
          
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>
              
          <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl dark:text-white"><em>
            "  With AuthNull, we were able to quickly secure access to our virtual machine infrastructure with automation in days, not months."
          </em></p>
        </div>
  
        <div class="p-4 rounded-b-xl md:px-6">
          <h3 class="text-sm font-semibold text-gray-800 sm:text-base dark:text-gray-200">
            Ryan
          </h3>
          <p class="text-sm text-gray-500">
           PAM, Leading Regional Bank
          </p>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
        <div class="flex-auto p-4 md:p-6">
           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
              </svg>
              
          <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl dark:text-white"><em>
            " AuthNull's Passwordless Authentication and PAM features are important to help us stay in compliance with FTC's safeguards rule"
          </em></p>
        </div>
  
        <div class="p-4 rounded-b-xl md:px-6">
          <h3 class="text-sm font-semibold text-gray-800 sm:text-base dark:text-gray-200">
            Luisa
          </h3>
          <p class="text-sm text-gray-500">
            Senior Director of IT | Leading Healthcare startup
          </p>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Testimonials -->

</div>