
<!-- Icon Blocks -->
<main class="min-h-screen ">
    <div class="   lg:px-8 lg:py-4 mx-auto text-center">
  <!-- Grid -->
     
      <h2 class=" font-bold lg:text-4xl dark:text-white">
      Features
      </h2>
      <p class="mt-3 text-gray-800 dark:text-gray-400">
       Best in class remote access and PAM features minus the friction
      </p>
      
     <!-- End Col -->
 

  
</div>
</div>
<!-- End Icon Blocks -->



<main class="min-h-screen ">    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

<div class="grid grid-cols-3 gap-8  ">
  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-2 md:p-10">
      <h3 class="text-4xl  text-black group-hover:text-white ">
        Decentralized Secrets management
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        AuthNull manages your secrets, but without having to use a centralized secret store.
       
      </p>
        <a class="group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700"" href="http://localhost:4000/videos/2023-07-01-wallet-demo.html"> Watch a demo</a>
       
      </a>
    </div>
  </div>
  
  <div class="group h-96  bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-2 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Secure sessions with session recording 
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        AuthNull enables secure sessions through text and video recordings. 
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
       Learn more
        
      </a>
    </div>
  </div>
  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-2 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Privileged escalation, & JIT credentials 
      </h3>
      <p class="mt-2 text-gray-800  group-hover:text-white">
        AuthNull Supports various PAM uses cases such as Privilege escalation of local accounts, service account access, JIT credentials and more. 
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Learn more
         
      </a>
    </div>
  </div>
  

  
  
  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Passwordless access to SSH, RDP, VNC, Telnet & LDAP
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        AuthNull enables secure, passwordless as 1FA or 2FA with various protocols and to directory users. 
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
       Learn more
        
      </a>
    </div>
  </div>

  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Active Directory Integration
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
       Connect to your IDP such as AD and issue identities as well as credentials to access critical infrastructure.
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
      Learn more
      
      </a>
    </div>
  </div>

  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Secure sessions with session recording 
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Learn more
        
      </a>
    </div>
  </div>


  <div class="group  h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Endpoint user management 
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
        Learn more
         
      </a>
    </div>
  </div>
  
  
  
  
  <div class="group h-96 bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        JML Lifecycle
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        Automatically synchronize AD users and offboard / offboard remote access on AuthNull with AD synchronization. <br/>
       <a class=" group-hover:text-white mt-3  gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
      Learn more
 
      </a>
    </div>
  </div>
  

  <div class="group h-96  bg-light-yellow transition ease-in-out delay-60  hover:bg-blue-800 focus:invert  flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-10 md:p-10">
      <h3 class="text-4xl font-bold text-black group-hover:text-white ">
        Risk Based MFA
      </h3>
      <p class="mt-2 text-xl text-gray-700  group-hover:text-white">
        Configure risk based MFA to automatically increase or decrease the number of MFA factors. <br/>
      <a class=" group-hover:text-white mt-3 inline-flex items-center gap-2 mt-5 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
       Learn more
         
      </a>
    </div>
  </div>
  

  </div></div></main>