
 
    <section>

      <div class="overflow-hidden py-6 sm:py-6 bg-white">
        <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
         
          <div class="flex flex-col items-start">
                <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Vaultless design<br/> </p>
                   <br/>    
          </div> 
            
            <p class="mt-6 text-lg leading-8 text-black">AuthNull delivers a vaultless design by using decentralized identity standard. 
              
             

            No vaults to manage, secure or replicate. Credentials are issued by an Issuer, and verified by a verifier using Public Key infrastructure and ED25519 crytographic signatures.  Credentials are stored and managed by users on their wallets. 
              </p>

              <br/> 
              <p class=" font-semibold text-xl text-black">How does this work?</p>

              <div style="position: relative; padding-top: 56.25%;">
                <iframe
                  src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/e30a01fb3b7e1df9c8daaf616db07c8e/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fe30a01fb3b7e1df9c8daaf616db07c8e%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false"
                  loading="lazy"
                  style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
                  allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                  allowfullscreen="true"
                ></iframe>
              </div>
       
            <br/> <br/>
            
         
      </div>
    </div>
  </div>
</main> 