<!-- Hero -->
  <!-- End Hero -->

  <main class=" min-h-screen" >

  <div class="overflow-hidden bg-gray-800 py-24 sm:py-32">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-400">Vaultless storage of credentials</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">AuthNull Enables Vaultless storage of credentials</p>
            <p class="mt-6 text-lg leading-8 text-gray-300"> AuthNull helps enables you to store vaults in a decentralized wallet, owned by the user and managed by two roots of trust.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-300 lg:max-w-none">
               
                
                  
                  
              <h3 class="text-2xl text-white font-bold lg:text-2xl">Decentralized Authenticator Wallet
              </h3>
               
                <dd class="inline">AuthNull's Authenticator Wallet also serves as a credential storage for recieving all credentials - passwordless credentials, as well as SSH Keys and passwords.</dd>
             
                <h3 class="text-2xl text-white font-bold lg:text-2xl"> Automated distribution and lookups
              </h3>
                 
                <dd class="inline">When enabled, SSH Keys and Passwords (as one of the factors) are automatically rotated and distributed to the right wallet users who currently have the privileges to the same.</dd>
             
            </dl>
          </div>
        </div>
        <div style="position: relative; padding-top: 60.76610562971562%;">
          <iframe
            src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/dcafe3f13b31e45468fab3d629c5dd1a/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fdcafe3f13b31e45468fab3d629c5dd1a%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
            loading="lazy"
            style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</main> 