
 
    <section>

      <div class="overflow-hidden py-6 sm:py-6  bg-slate-100">
        <div class="mx-auto max-w-screen-xl px-5 lg:px-5">
         
          <div class="flex flex-col items-start">
                <h2 class=" font-semibold leading-7 text-black">A radically better approach to Privileged Access</h2>
                <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Vaultless design<br/> </p>
                   <br/>    
          </div> 
            
            <p class="mt-6 text-lg leading-8 text-black"> AuthNull helps enables you to store vaults in a decentralized wallet, owned by the user and managed by two roots of trust.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-300 lg:max-w-none">
                  
              <h3 class="text-2xl text-black font-bold lg:text-2xl">Decentralized Authenticator Wallet
              </h3>
               
                <dd class="inline text-black">AuthNull's Authenticator Wallet also serves as a credential storage for recieving all credentials - passwordless credentials, as well as SSH Keys and passwords.</dd>
             
                <h3 class="text-2xl text-black font-bold lg:text-2xl"> Automated distribution and lookups
              </h3>
                 
                <dd class="inline text-black ">When enabled, SSH Keys and Passwords (as one of the factors) are automatically rotated and distributed to the right wallet users who currently have the privileges to the same.</dd>
             
            </dl>
       
            <br/> <br/>
            
        <div style="position: relative; padding-top: 60.76610562971562%;">
          <iframe
            src="https://customer-4qbnzcoswj67r0b2.cloudflarestream.com/dcafe3f13b31e45468fab3d629c5dd1a/iframe?poster=https%3A%2F%2Fcustomer-4qbnzcoswj67r0b2.cloudflarestream.com%2Fdcafe3f13b31e45468fab3d629c5dd1a%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600"
            loading="lazy"
            style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</main> 