<!-- FAQ -->
<main class="bg-blue-100 max-h-min"   id="panel" >
    <div id="carousel1" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Grid -->
     
        
      <div class="grid  grid-flow-col">
        <div class="">
            <h3 class="text-1xl font-bold md:text-2xl md:leading-tight ">Platform Features</h3><br> <br> <br> 
            <div><ul class="text-blue-600 mt-1 menu bg-slate-50 w-56 p-0 mx-1 [&_li>*]:rounded-none">
                <li ><a href="javascript:test('#step0')">Biometric + Passwordless MFA </a></li>
                <li><a href="javascript:test('#step1')">Store & Manage Secrets without Conjur / Vault</a></li>
                <li ><a href="javascript:test('#step2')">Better security through Decentralized Infrastructure</a></li>
                <li><a href="javascript:test('#step3')">Simple and Modern unified PAM Platform</a></li>
                


              </ul></div>
  
          
        </div>
        <!-- End Col -->
        <div  class="carousel carousel-vertical  p-14 "  style="overflow: hidden; height:1090px">         
  
          <div class="carousel-item h-full w-full" id=step0 name="step0">  <!--inner-->
            <!-- <img src="../assets/images/endpoint-management.jpeg" class="flex-shrink-0 h-28 w-40 text-gray-800" /> -->
            <div >
  



                <div class="overflow-hidden bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                        <div class="lg:pr-8 lg:pt-4">
                          <div class="lg:max-w-lg">
                            <h2 class="text-base font-semibold leading-7 text-indigo-600">Comply with NIST AAL2</h2>
                            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Biometric + Passwordless Authentication</p>
                            <p class="mt-6 text-lg leading-8 text-gray-600">AuthNull provides Biometric + Passwordless Authentication ensuring that your environment complies with NIST AAL2 authentication. </p>
                            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                                  </svg>
                                  Passwordless
                                </dt>
                                <dd class="inline">Where possible AuthNull can eliminate passwords + SSH Keys and replace with passwordless credentials</dd>
                              </div>
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                                  </svg>
                                  Biometric.
                                </dt>
                                <dd class="inline">With a hardware wallet (your phone), Public Key Infrastructure (PKI) and Biometrics - all access is governed by verifying identity with a biometric system that is native to the users' phone.</dd>
                              </div>
                              
                            </dl>
                          </div>
                        </div>
                        <video  width=350  controls="none" preload autoplay="true" muted="" width=250 class=" shadow-xl ring-1  sm:w-[57rem] " >
                            <source   src="/assets/images/bio.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                            
                      </div>
                    </div>
                  </div>
                  
  
               
     
            </div>
          </div>


          <div class="carousel-item h-full  w-full " id=step1 name="step1">  <!--inner-->
            <!-- <img src="../assets/images/endpoint-management.jpeg" class="flex-shrink-0 h-28 w-40 text-gray-800" /> -->
            <div >
                <div class="overflow-hidden bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                        <div class="lg:pr-8 lg:pt-4">
                          <div class="lg:max-w-lg">
                            <h2 class="text-base font-semibold leading-7 text-indigo-600">Secrets Management</h2>
                            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Store and Manage Secrets but without a secrets server</p>
                            <p class="mt-6 text-lg leading-8 text-gray-600">AuthNull provides secrets management without the hassle of managing a secret server infrastructure. </p>
                            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                                  </svg>
                                  How does this work?
                                </dt>
                                <dd class="inline">All credentials are stored decentrally in the users wallet (as assigned) without requiring a secrets server. Wallets use a public-private key pair that belongs to the user. Credentials are signed by organizations and sent to user's wallet to be signed with their private key.</dd>
                              </div>
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                                  </svg>
                                  Public key cryptography and two roots of trust.
                                </dt>
                                <dd class="inline">AuthNull uses PKI with two roots of trust - Organization's public / private key and the user's public/private key pair. When credentials are issued, they are signed by the administrator with the tenant's private keys. Wallet credential stored in a user's phone with AuthNull app are protected by users' biometrics and signed by the users private key during authentication.</dd>
                              </div>
                             
                            </dl>
                          </div>
                        </div>
                        <video  width=350  controls="none" preload autoplay="true" muted="" width=250 class=" shadow-xl ring-1  sm:w-[57rem] " >
                            <source   src="/assets/images/biometric.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                            
                      </div>
                    </div>
                  </div>
     
            </div>
          </div>

          <div class="carousel-item h-full   w-full" id=step2 name="step2">  <!--inner-->
            <!-- <img src="../assets/images/endpoint-management.jpeg" class="flex-shrink-0 h-28 w-40 text-gray-800" /> -->
            <div >
                <div class="overflow-hidden bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                        <div class="lg:pr-8 lg:pt-4">
                          <div class="lg:max-w-lg">
                            <h2 class="text-base font-semibold leading-7 text-indigo-600">Security</h2>
                            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Better security throgh Decentralized Infrastructure</p>
                            <p class="mt-6 text-lg leading-8 text-gray-600">AuthNull leverages Decentralized Infrastructure to provide better Identity by design </p>
                            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                                  </svg>
                                  How does this work?
                                </dt>
                                <dd class="inline">Decentralized Identity leverages various standard that deliver a distributed system without a single major attack vector -  a better security approach by design, shield your organizations from a major attack on a central authority. With Decentralized Identity and Credentials, organizations are always in control while distributing credentials which are stored and managed on users' wallets.</dd>
                              </div>
                               
                               
                            </dl>
                          </div>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ew-_F-OtDFI?si=fVAAEXNZFiylL9yz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                      </div>
                    </div>
                  </div>
     
            </div>
          </div>

          <iv class="carousel-item h-full  w-full" id=step3 name="step3">  <!--inner-->
            <!-- <img src="../assets/images/endpoint-management.jpeg" class="flex-shrink-0 h-28 w-40 text-gray-800" /> -->
            <div >
                <div class="overflow-hidden bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                        <div class="lg:pr-8 lg:pt-4">
                          <div class="lg:max-w-lg">
                            <h2 class="text-base font-semibold leading-7 text-indigo-600">Modern Platform</h2>
                            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Simple and Modern unified PAM Platform</p>
                            <p class="mt-6 text-lg leading-8 text-gray-600">AuthNull provides a single comprehensive modern platform that avoids needless bloat.</p>
                            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                                  </svg>
                                  Comprehensive PAM
                                </dt>
                                <dd class="inline">AuthNull includes a comprehensive PAM that enables privileged access, endpoint management and secrets management with various features including credential rotations, recorded sessions, multi-factor authentication including biometrics and much more.</dd>
                              </div>
                              <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                                  </svg>
                                  Available on-prem and on cloud
                                </dt>
                                <dd class="inline">AuthNull is a modern platform that is now available for both on prem and on the cloud</dd>
                              </div>
                          
                            </dl>
                          </div>
                        </div>
                        <img src="/assets/images/authnull_new.png" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
                      </div>
                    </div>
                  </div>
     
            </div>
          </div>

          <!-- End Icon Block -->
  
          <!-- Icon Block -->
         
          <!-- End Icon Block -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
  </main>


             
             
      

<script type="text/javascript">

    function test(item) {
       
        let e = document.querySelector(item);
         //step2.class="carousel-center";
         e.classList.add('carousel-center');
         e.scrollIntoView();   

         let panel = document.querySelector('#panel');
         panel.classList.add('my-8');
         panel.scrollIntoView();

       
            
     }

</script>