
<main class="bg-gradient-to-r  from-yellow-50 to-blue-200  min-h-screen" >

  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Comply with NIST AAL2</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Biometric + Passwordless Authentication</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull provides Biometric + Passwordless Authentication ensuring that your environment complies with NIST AAL2 authentication.
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Passwordless: Where possible AuthNull can eliminate passwords + SSH Keys and replace with passwordless credentials</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  Biometric: With a hardware wallet (your phone), Public Key Infrastructure (PKI) and Biometrics - all access is governed by verifying identity with a biometric system that is native to the users' phone.</p>
             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
          <video width="320" height="240" controls="none" preload autoplay="true" muted=""  class=" mx-20 shadow-xl ring-1  sm:w-[20rem] " >
            <source   src="/assets/images/biometric.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</main> 




<main class="bg-gradient-to-r  from-pink-50 to-pink-200   min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Secrets Management</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Store and Manage Secrets but without a secrets server</p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull provides secrets management without the hassle of managing a secret server infrastructure.
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Are secrets are stored in a decentralized manner on privileged users' devices. Secrets are redistrbuted automatically when rotated. Nothing is stored in a secrets server.</p>
                  <p class="mt-6 text-lg leading-8 text-gray-900"> Secrets servers are security's anti-patterns. We help eliminate them.</p>
             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
         <img src="/assets/images/secrets.png" wdith="460px"/>
        </div>
      </div>
    </div>
  </div>
</main> 



<main class="bg-gradient-to-r  from-yellow-50 to-yellow-100  min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Next Gen PAM</h2>
            <p class="mt-2 text-6xl font-bold tracking-tight text-black sm:text-6xl">Simple and Modern platform minus the friction and the bloat</p>
            <p class="mt-6 text-lg leading-8 text-gray-900"> AuthNull provides a single comprehensive modern platform that avoids needless bloat.
              <br/> <br/>
              <h3 class="text-2xl"> How does this work? </h3>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Comprehensive PAM
                AuthNull includes a comprehensive PAM that enables privileged access, endpoint management and secrets management with various features including credential rotations, recorded sessions, multi-factor authentication including biometrics and much more.</p>
             

                <br/><br/>
              <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
          </div>
          
         
        </div>
        <div width="500px">
          <img src="/assets/images/authnull_new.png" alt="Product screenshot" class="mt-20 w-[35rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[35rem] md:-ml-4 lg:-ml-0" width="252">
        </div>
      </div>
    </div>
  </div>
</main> 

 