<!-- Card Blog -->
<main class="custom-bg-dark-purple">


    <!-- Card Blog -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
          <h2 class="text-2xl font-bold md:text-4xl md:leading-tight ">Watch our videos</h2>
        </div>
        <!-- End Title -->
      
        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <!-- Card -->
          <a class="group  rounded-xl p-5 transition-all " href="#">
            <div class="aspect-w-16 aspect-h-10">
                <iframe class="w-full object-cover rounded-xl"  width="560" height="250" src="https://www.youtube.com/embed/kJJlp46rMWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             
            </div>
            <h3 class="mt-5 text-xl text-gray-800 hover:text-blue-600 ">
              Passwordless Authentication
            </h3>
           
          </a>
          <!-- End Card -->
      
          <!-- Card -->
          <a class="group  rounded-xl p-5 transition-all " href="#">
            <div class="aspect-w-16 aspect-h-10">
                <iframe class="w-full object-cover rounded-xl"  width="560" height="250" src="https://www.youtube.com/embed/dF5Zas1i-W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              
            </div>
            <h3 class="mt-5 text-xl text-gray-800 hover:text-blue-600 ">
               Wallet
              </h3>
          </a>
          <!-- End Card -->
      
          <!-- Card -->
          <a class="group  rounded-xl p-5 transition-all " href="#">
            <div class="aspect-w-16 aspect-h-10">
                <iframe class="w-full object-cover rounded-xl"  width="560" height="250" src="https://www.youtube.com/embed/QyhNaY5O468" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h3 class="mt-5 text-xl text-gray-800 hover:text-blue-600 ">
                Passwordless LDAP
              </h3>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Card Blog -->
      <!-- End Card Blog -->
    </main>