<!-- This is an example component -->
<div class=" bg-slate-50 w-full">
<div class="text-center" ><br/><br/>
<h2 class="font-bold lg:text-4xl dark:text-white">
    Why did we build AuthNull?</h2>
   
 
 </div>
<div class="p-4 text-gray-600 max-w-4xl mx-auto  mb-20 lg:mb-30 mt-20">
	 

	<ul class="grid place-content-center sm:grid-cols-2 gap-8">
		<li class="flex">
			<div class="px-4 text-5xl font-extralight text-indigo-700">01.</div>
			<div>
				<div class=" px-4 text-xl font-bold text-indigo-800">Because Privileged Access Management should be easy</div>
				<p class="px-4 max-w-xs py-2 text-sm text-black"> AuthNull was built as a response to our own (and our customers') frustrations to current generation PAM solutions. They are bulky, expensive and are hard deploy. This friction is the precise reason why IT admins do not want to deploy PAM solutions.</p>
			</div>
		</li>
		<li class="flex">
			<div class="px-4 text-5xl font-extralight text-indigo-700">02.</div>
			<div>
				<div class="text-xl font-bold text-indigo-800">Because passwords and SSH keys should be a thing of the past.</div>
				<p class="max-w-xs py-2 text-sm text-black"> It is 2023 and passwords and SSH keys are directly responsible for 50% of all credential theft. It is time we eliminated passwords from IT infra.
			</div>
		</li>
		<li class="flex">
			<div class="px-4 text-5xl font-extralight text-indigo-700">03.</div>
			<div>
				<div class="text-xl font-bold text-indigo-800">Because PAM platforms are needlessly expensive</div>
				<p class="max-w-xs py-2 text-sm text-black"> It should not cost you 3 full time engineers to maintain a PAM platform.
				</p>
			</div>
		</li>
		<li class="flex">
			<div class="px-4 text-5xl font-extralight text-indigo-700">04.</div>
			<div>
				<div class="text-xl font-bold text-indigo-800">Because getting to Zero Trust should be easier</div>
				<p class="max-w-xs py-2 text-sm text-black"> Zero Trust (ZT) is something that everyone wants to get to, yet it is impossible with traditional systems to achieve.
                    AuthNull was built to solve this need.
				</p>
			</div>
		</li>
		 
	</ul>
</div>
</div>