<!-- Subscribe -->
<div class="absolute left-0 right-0 bottom-0" style="top:138px">
   
</div>
<main class="h-30 min-h-screen ">


    <div class="py-10 bg-slate-50 px-4 sm:px-6 lg:px-8 lg:py-16 mx-auto absolute left-0 min-h-screen w-full">
      <div class="max-w-2xl mx-auto text-center mb-20 lg:mb-30 mt-20">
        <h1 class="block text-5xl font-bold sm:text-3xl lg:text-5xl lg:leading-tight text-blue-600">Our Vision / Mission<span class="text-blue-600 bg-[0_100%] bg-no-repeat bg-[length:100%] -mx-2 px-2  "></span></h1>
        <!-- <p class="mt-1 text-white">Stay in the know with blogs from industry experts.</p> -->
      </div>
      <div class="max-w-xl text-center mx-auto">
        <div class="mb-5">
          <h2 class=" text-3xl  md:text-3xl md:leading-tight ">Our Vision is to simplify secure access to all infrastructure</h2><br/><br/>
          <h2 class=" text-3xl  md:text-3xl md:leading-tight ">Our Mission is to build a platform that simplifies authentication and authorization to all IT infrastructure.</h2>
         <br><br>
        
          
        </div>

        
      </div>
      <div class="max-w-4xl mx-auto text-center mb-20 lg:mb-30 mt-20">
      <video class="align-center" autoplay=true  controls width="1000" height="600" name="AuthNull Demo Video">
        <source src="/assets/images/vision3.mov">
      </video>
    </div>
    </div>
    
  </main>
  
  <!-- End Subscribe -->