<!-- Subscribe -->
<main class="h-30  pt-10 min-h-screen">
    <div class="max-w-6xl py-10 px-4 sm:px-6 lg:px-8 lg:py-16 mx-auto ">
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-10">
        <h1 class="block text-xl font-bold text-black sm:text-2xl lg:text-4xl lg:leading-tight ">Our Vision / Mission<span class="text-blue-600 bg-[0_100%] bg-no-repeat bg-[length:100%] -mx-2 px-2  "></span></h1>
        <!-- <p class="mt-1 text-white">Stay in the know with blogs from industry experts.</p> -->
      </div>
      <div class="max-w-xl text-center mx-auto">
        <div class="mb-5">
          <h2 class="text-gray-800 text-1xl  md:text-2xl md:leading-tight ">Our Vision is to get the world rid of passwords.</h2><br/><br/><br/>
          <h2 class="text-gray-800 text-1xl  md:text-2xl md:leading-tight ">Our Mission is to provide alternatives to existing password dependent services and make them passwordless</h2>

        </div>
      </div>
    </div>
  </main>
  
  <!-- End Subscribe -->