



<header>
  <a name="identity"></a>
  <!-- Hero Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="grid grid-cols-1 items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2">
      <!-- Hero Content -->
      <div class="flex flex-col">
        <!-- Hero Title -->
        <h4 class="mb-4 text font-bold  text-black"> How are we different?</h4>

        <h1 class="mb-4 text-4xl font-bold md:text-6xl"> Detect Identity Risk with Dynamic Authorization Platform </h1>
        <p class="mb-6 max-w-lg text-base text-[#636262] md:mb-10 lg:mb-12"> AuthNull comes built in with Dynamic Identity threat detection enabling administrators to create rules that can strip away privileges when identity risk is detected. </p>
        <!-- Hero Button -->
        <div class="flex items-center">
          <a href="/contactus"><button class="btn btn-neutral"> Get a demo</button>  </a>

        </div>
      </div>
      <!-- Hero Image -->
      <img src="/assets/images/DAP.png" alt="" class="inline-block h-full w-full max-w-[640px]" />
    </div>
  </div>
</header>

<header>
  <!-- Hero Container -->
  <a name="vault"></a>
  <div class="mx-auto bg-gray-50  w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="grid grid-cols-1 items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2">
      <!-- Hero Content -->
      <div class="flex flex-col">
        <!-- Hero Title -->
        <h4 class="mb-4 text font-bold  text-black"> How are we different?</h4>

        <h1 class="mb-4 text-4xl font-bold md:text-6xl"> Vaultless Secrets Management + Biometric MFA </h1>
        <p class="mb-6 max-w-lg text-base text-[#636262] md:mb-10 lg:mb-12"> AuthNull provides secrets management without the hassle of managing a vault infrastructure.  AuthNull provides Biometric + Passwordless Authentication ensuring that your environment complies with NIST AAL2 authentication.</p>
        <!-- Hero Button -->
        <div class="flex items-center">
          <a href="/contactus"><button class="btn btn-neutral"> Get a demo</button>  </a>

        </div>
      </div>
      <!-- Hero Image -->
      <div width="500px">
        <video width="320" height="200" controls="none" preload autoplay="true" muted=""  class=" mx-20 shadow-xl ring-1  sm:w-[16rem] " >
          <source   src="/assets/images/biometric.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</header>

<header>
  <a name="decentralized"></a>
  <!-- Hero Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="grid grid-cols-1 items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2">
      <!-- Hero Content -->
      <div class="flex flex-col">
        <!-- Hero Title -->
        <h4 class="mb-4 text font-bold  text-black"> How are we different?</h4>

        <h1 class="mb-4 text-4xl font-bold md:text-6xl"> Decentralized platform</h1>
        <p class="mb-6 max-w-lg text-base text-[#636262] md:mb-10 lg:mb-12"> AuthNull comes built in with Dynamic Identity threat detection enabling administrators to create rules that can strip away privileges when identity risk is detected. </p>
        <!-- Hero Button -->
        <div class="flex items-center">
          <a href="/contactus"><button class="btn btn-neutral"> Get a demo</button>  </a>

        </div>
      </div>
      <!-- Hero Image -->
      <img src="/assets/images/decentralized.jpg" alt="" class="inline-block h-full w-full max-w-[640px]" />
    </div>
  </div>
</header>

<!-- 

<div class="relative pt-48">
  <div class="sticky top-12 mx-auto text-center">
    <h2 class="text-3xl font-bold md:text-5xl">Why are we different</h2>
  </div>





  

<main class=" sticky top-36 min-h-screen" >

  <div class="overflow-hidden py-16 sm:py-16">  

    <div class="mx-auto max-w-screen-xl px-8 lg:px-10 bg-blue-50 p-4">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Comply with NIST AAL2</h2>
            <p class="mt-2 text-4xl font-bold tracking-tight text-black sm:text-4xl">Biometric + Passwordless MFA Auth</p>
            <p class="mt-6 text-lg leading-8 text-gray-900"> 
              <br/> <br/>
                  <p class="mt-6 text-lg leading-8 text-gray-900">  With a hardware wallet (your phone), Public Key Infrastructure (PKI) and Biometrics auth on your phone - all access is governed by verifying user identity.</p>
             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
          <video width="320" height="200" controls="none" preload autoplay="true" muted=""  class=" mx-20 shadow-xl ring-1  sm:w-[16rem] " >
            <source   src="/assets/images/biometric.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</main> 




<main class="sticky top-36     min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16 ">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10 bg-slate-50 p-4">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Secrets Management</h2>
            <p class="mt-2 text-4xl font-bold tracking-tight text-black sm:text-4xl">Vaultless </p>
            <p class="mt-6 text-lg leading-8 text-gray-900">  AuthNull provides secrets management without the hassle of managing a secret server infrastructure.
              
              <p class="mt-6 text-lg leading-8 text-gray-900"> Are secrets are stored in a decentralized manner on privileged users' devices. </p>
                  <p class="mt-6 text-lg leading-8 text-gray-900"> Secrets servers are security's anti-patterns. We help eliminate them.</p>
             

                <br/><br/>
                <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
              </div>
          
         
        </div>
        <div width="500px">
         <img src="/assets/images/secrets.png" wdith="360px"/>
        </div>
      </div>
    </div>
  </div>
</main> 



<main class="sticky top-48 min-h-screen" >

  <a name="vault"></a>
  <div class="overflow-hidden py-16 sm:py-16">
    <div class="mx-auto max-w-screen-xl px-8 lg:px-10 bg-blue-100 p-4 ">
      <div class="mx-auto grid max-w-6xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class=" font-semibold leading-7 text-black">Next Gen PAM</h2>
            <p class="mt-2 text-4xl font-bold tracking-tight text-black sm:text-4xl">Simple and Modern platform minus the friction and the bloat</p>
             <p class="mt-6 text-lg leading-8 text-gray-900">
                AuthNull is a modern Privileged Access Platform built from ground up to simplify deployments in PAM</p>
              </p>
              <p class="mt-6 text-lg leading-8 text-gray-900"> Features includes privileged user management, endpoint management, secrets management, credential rotations, session recording, multi-factor authentication including biometrics and much more.<br/><br/></p>
             <p > AuthNull reduces the TCO down to 1/3rd of traditional PAM deployments. </p><br/><br/><br/>
            
                
             
               
              <a href="/contactus"><button class="btn btn-primary btn-blue"> Get a demo</button>  </a>
          </div>
          
         
        </div>
        <div width="500px">
          <img src="/assets/images/authnull_new.png" alt="Product screenshot" class="mt-20 w-[35rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[35rem] md:-ml-4 lg:-ml-0" width="252">
        </div>
      </div>
    </div>
  </div>
</main> 

</div>
 
<!--


<!-- 
<section> 
 
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    
    <h5 class="mb-6 text-center text-xl font-bold md:mb-12">Partnering with some of the world's best</h5>
 
    <div class="grid grid-cols-2 items-center justify-center gap-8 rounded-md  border bg-white p-16 px-8 py-12 sm:grid-cols-3 md:gap-16">
      <div class="flex items-center justify-center">
        <img src="/assets/images/google_cloud.jpg" alt="" class="max-w-full items-center justify-center sm:max-w-[80%]" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/assets/images/ms_azure.png" alt="" class="max-w-full sm:max-w-[80%]" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/assets/images/nvidea.jpg" alt="" class="max-w-full sm:max-w-[80%]" />
      </div>
     
    </div>
  </div>
</section>

-->