---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans Regular';
  src:  url('/assets/fonts/DM_Sans/DMSans-regular.ttf') format('opentype'); font-size:18px;
  


}
 
html {
  font-family: 'DM Sans Regular', sans-serif;
    color:rgb(13, 15, 41);
    font-size:16px;

  }
  .custom-bg-blue{
    background: rgba(0, 17, 173, 1);
  }
  .custom-bg-peach{
    background: rgba(255, 242, 226, 1)
  }
  .custom-bg-dark-blue{
    background: rgba(91, 125, 176, 1);
    
  }

  .custom-bg-light-blue{
    background: rgba(243, 254, 255, 1);

  }
  .custom-bg-pink{
    background: rgba(255, 239, 239, 1);

  }

  .custom-bg-green{
    background: rgb(225, 210, 240);

  }

  .custom-bg-bright-blue{
    background:#2D5BFF
  }
  .custom-bg-pink-tea{
   background:#ffd9d9
  }
  .custom-bg-ablastor{
    background:#e0edf1;
  }

  .custom-bg-why{
    background:#e1e1f7;
  }
  .custom-bg-beige{
    background: beige;
  }
  .custom-bg-purple{
    background: #e8d9ed;
  }
  .custom-bg-purple-dark{
    background: #000000;
  }
  .purple-gradiant{
    background:  white;
  }

  #showMe {
    animation: cssAnimation 0s 10s forwards;
    visibility: hidden;
    position: absolute;
    justify-content: center;
    top: 44%;
    height: 40rem;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease;
    transition: .3s ease;


  }
  .text-gray-600{
    color:#151023;
    font-size:19px;
  }
  @keyframes cssAnimation {
    
    to   { visibility: visible; }
  }

  .text-special{
    font-size: 44px;
    font-weight: 400;
  }
.text-2xl{
  font-size: 24px;
  font-weight: 300;
}
h1
{
  font-family: "DM Sans Regular";
  font-size: 44px;
  color: #0031e4;

}

h2,
h3,
h4,
h5,
h6 {
  color: #0031e4;
  font-weight: bold;
}


 
  .bg-light-yellow {
    background-color: rgb(241, 238, 223)
   
    
  }
  .yellow{
    color:yellow;
  }