<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    {% include header.html %} 
 
    {% include blogcover.html %}
 

 
    
 
        {% include postbox.html %}

        {% include contactus.html %}
 

    
    
    {% include footer.html %}

<script src="/preline/dist/preline.js"></script>
