<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Passwordless Privileged Access Management -  Blogs">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}" media="print" onload="this.media='all'">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}" >
      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
    <script defer src="/assets/js/cookieconsent.js"></script>
    <script defer src="/assets/js/cookieconsent-init.js"></script>
    {% include header.html %}
    {% include blogcover.html %}

<br><br>
    



<div class="max-w-[85rem] mx-auto"> 
 
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4  ">

    {% for post in paginator.posts %}
 

 <!--
  Heads up! 👋

  Custom CSS:
    - animate-background https://github.com/markmead/hyperui/blob/main/tailwind.preset.js
-->



<article
class="hover:animate-background h-full rounded-xl bg-gradient-to-r from-blue-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]"
>
<div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 h-full ">
  <time datetime="2022-10-10" class="block text-xs text-gray-500">
    {{post.datetime}}
  </time>

  <a href="#">
    <h3 class=" font-bold underline mt-0.5 text-lg font-medium text-black">
     <a href="{{post.url}}" class="py-6">{{post.title}}</a> 
    </h3>
    <p>{{post.excerpt}}</p>
  </a>
  <a class="underline text-blue-800" href="{{post.url}}">Read more  </a> 
  <br/>
  <div class="mt-4 flex flex-wrap gap-1">
    <span
      class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
    >
    {{post.duration}}
    </span>

    <span
      class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
    >
    {{post.author}}
    </span>
    
  </div>
</div>
</article>




  

  
    {% endfor %}
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>
<br/><br/><br/>
 

<!-- Pagination links -->
<div class="pagination text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class=" join-item btn btn-outline previous">
      Previous
    </a>
  {% else %}
    <span class="join-item btn btn-outline previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class=" join-item btn btn-outline next">Next</a>
  {% else %}
    <span class="next join-item btn btn-outline ">Next</span>
  {% endif %}
</div>

<script src="/preline/dist/preline.js"></script>

  






