<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Passwordless Privileged Access Management -  Blogs">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favico.png" | relative_url }}" >

      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
    
    {% include header.html %}

    <div class="max-w-[5rem] border-e-2 border-gray-300 dark:border-gray-700">
      <nav class="-me-0.5 flex flex-col space-y-2">
        <a class="py-1 pe-4 inline-flex items-center gap-2 border-e-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" href="#">
          Tab 1
        </a>
        <a class="py-1 pe-4 inline-flex items-center gap-2 border-e-2 border-blue-500 text-sm font-medium whitespace-nowrap text-blue-600 focus:outline-none focus:text-blue-800" href="#" aria-current="page">
          Tab 2
        </a>
        <a class="py-1 pe-4 inline-flex items-center gap-2 border-e-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" href="#">
          Tab 3
        </a>
      </nav>
    </div>
<br><br>
    
<div class="max-w-[85rem] mx-auto"> 
 
  <div class="grid sm:grid-cols-2 lg:grid-cols-3  ">

    {% for post in paginator.posts %}
 

    <div class="card card-compact w-full gap-2 bg-base-100 shadow box-shadow mb-2 rounded-none">
      <div class="mt-2 overflow-hidden" ><figure  class="" style="height:120px;"><img src="{{post.image}}" alt="" /></figure></div>
      <div class="card-body">
        <h2 class="mt-4 text-black text-3xl hover:underline">  <a href="{{post.url}}">{{post.title}}</a></h2>
        <p class="mt-4 text-base">{{post.excerpt}}</p>


        <div class="flex mt-10">
          <img src="{{post.avatar}}" alt="" class=" rounded-full mr-4 h-10 w-10" />
          <div class="flex flex-col">
            <h6 class="text-black">{{post.author}}</h6>
          </div>
        </div>


        
        
      </div>
    </div>


  
    {% endfor %}
    <!-- End Card -->
  </div>
  <!-- End Grid -->
</div>

 

<!-- Pagination links -->
<div class="pagination text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class=" join-item btn btn-outline previous">
      Previous
    </a>
  {% else %}
    <span class="join-item btn btn-outline previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class=" join-item btn btn-outline next">Next</a>
  {% else %}
    <span class="next join-item btn btn-outline ">Next</span>
  {% endif %}
</div>

<script src="/preline/dist/preline.js"></script>

  






