 
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Passwordless Privileged Access Management -  {{page.excerpt}}">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favico.png" | relative_url }}" >

      <link rel="canonical" href="https://authnull.com{{page.url}}" />


    <style>
      .blog-font{
        font-family:"DM Sans";
        font-size: 18px;
        line-height: 33px;
        font-weight: 400;
        color:rgb(36, 36, 36);
        
      }
    </style>
  </head>
  <body class="antialiased">


{% include header.html %}
<!-- Hero -->


<div class="container mx-auto md" style="width:75%; margin-top:10px;margin-bottom:10px;">
  <h1 data-toc-skip class="text-3xl"></h1>
  
  

    <span>
      {{ site.data.locales[site.lang].post.posted }}
      {% include datetime.html date=page.date tooltip=true %}
    </span>

    
    <!-- lastmod date -->
    {% if page.last_modified_at %}
    <span>
      {{ site.data.locales[site.lang].post.updated }}
      {% include datetime.html date=page.last_modified_at tooltip=true %}
    </span>
    {% endif %}
 

  <div class="d-flex justify-content-between">
    <!-- author(s) -->
    <span>
      {% if page.author %}
        {% assign authors = page.author %}
      {% elsif page.authors %}
        {% assign authors = page.authors %}
      {% endif %}

      {{ site.data.locales[site.lang].post.written_by }}

      <em>
      {% if authors %}
        {% for author in authors %}
          <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
          {% unless forloop.last %}</em>, <em>{% endunless %}
        {% endfor %}
      {% else %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
      {% endif %}
      </em>
    </span>

   
  

    <div class="relative bg-white py-16 sm:py-12">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ page.title }}</h2>
<br/>

<ul class="menu menu-horizontal bg-base-200">
  <li ><a href="/resources" >Resources Home</a></li>
  <li><a href="/whitepapers">White papers</a></li>
  <li><a class="active" href="/casestudies">Case studies</a></li>
  <li><a   href="/videos">Videos</a></li>
  <li><a href="/ebooks">eBooks</a></li>
  <li><a href="/solution-briefs">Solution Brief</a></li>
  <li><a href="/webinars">Webinar</a></li>
  <li><a href="/reports">Reports</a></li>
  <li><a href="/architecture">Architecture and Design</a></li>
  <li><a href="/faqs">FAQs</a></li>
</ul>

        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 ">
            
          <div class="relative sm:py-16 lg:py-0">
            <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
              <div class="absolute inset-y-0 right-1/2 w-full   bg-gray-150 lg:right-72"></div>
              <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
                <defs>
                  <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                  </pattern>
                </defs>
                <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
              </svg>
            </div>
            <div class="relative mx-auto max-w-md px-2 sm:max-w-3xl lg:max-w-none lg:py-20">
              <!-- Testimonial card-->
              <div class="relative overflow-hidden  pt-64 pb-10 shadow-xl">
                <img class="absolute inset-0 h-full w-full object-cover" src="{{ page.image }}" alt="">
                <div class="absolute inset-0  bg-gray-900 mix-blend-multiply"></div>
                <div class="absolute inset-0  bg-blue-100 "></div>
                <div class="relative px-8">
                  <div>
                    <img class="h-12" src="{{ page.customer-logo }}" alt="customer logo">
                  </div>
                  <blockquote class="mt-8">
                    <div class="relative text-lg font-medium text-slate-800 md:flex-grow">
                      <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-indigo-400" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                        <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                      </svg>
                      <p class="relative">{{ page.summary }}</p>
                    </div>
      
                    <footer class="mt-4">
                      <p class="text-base font-semibold text-black">{{ page.customer }}</p>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
      
          <div class="relative mx-auto max-w-md px-6 sm:max-w-3xl lg:px-0">
            <!-- Content area -->
            <div class="pt-12 sm:pt-16 lg:pt-20">
              <div class="mt-6 space-y-6 text-gray-500">
                <span class="blog-font"> {{ content }}</span>
              </div>
            </div>
      </div>
            <!-- Stats section -->
            
          </div>
          <div class="relative bg-gray-900 ">
            <div class="absolute bottom-0 h-80 w-full xl:inset-0 xl:h-full">
              <div class="h-full w-full xl:grid xl:grid-cols-2">
                <div class="h-full xl:relative xl:col-start-2">
                  <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
                  <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
                </div>
              </div>
            </div>
            <div class="mx-auto max-w-4xl px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-2 xl:gap-x-8">
              <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
                <h2 class="text-base font-semibold text-indigo-300">Metrics</h2>
                <p class="mt-3 text-3xl font-bold tracking-tight text-white">{{ page.casestudyresults }}</p>
                <p class="mt-5 text-lg text-gray-300"> {{ casestudyresults_summary }}</p>
                <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
                  <p>
                    <span class="block text-2xl font-bold text-white">{{ page.stat1 }}</span>
                    <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Saved by using AuthNull infrastructure </span>
                  </p>
          
                  <p>
                    <span class="block text-2xl font-bold text-white">{{ page.stat2 }}</span>
                    <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Users active</span> 
                  </p>
          
                  <p>
                    <span class="block text-2xl font-bold text-white">{{ page.stat3 }}</span>
                    <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Sessions Logged</span> 
                  </p>
          
                  <p>
                    <span class="block text-2xl font-bold text-white">{{ page.stat4 }}</span>
                    <span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Attacks Prevented</span> 
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      


     </div>
  
    </div>
 
  <!-- End Hero -->

  {% include casestudylogos.html %}

 
 

{% include footer.html %}

<script src="/preline/dist/preline.js"></script>
