<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="bg-white">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Endpoint Security supports access rules to manage endpoints and enable granular application control to be able to detect and remove threats from malwares and other bad actors. ">
      <meta name="keywords" content="Endpoint priviled security, rule based access control">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favico.png" | relative_url }}" >

      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
 
{% include header.html %}
{% include eps-cover.html %}

{% include homecontactus.html %}
{% include postbox.html %}
{% include footer.html %}
<script src="/preline/dist/preline.js"></script>
  </body>
</html>