<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Moderen Privileged Access Management - AuthNull is a modern privileged access management and MFA platform.">
      <meta name="keywords" content="Privileged,access, management, PAM, passwordless, passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}" media="print" onload="this.media='all'">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favico.png" | relative_url }}" >

      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
<script defer src="/assets/js/cookieconsent.js"></script>
<script defer src="/assets/js/cookieconsent-init.js"></script>

{% include header.html %}
{% include homecover.html %}
 
{% include vert_features.html %}

{% include use-cases.html %}
{% include sign-up.html %}
{% include testimonial.html %}
{% include contactus3.html %}

 
{% include footer.html %}



<script src="/preline/dist/preline.js"></script>
  </body>
</html>