<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Passwordless Privileged Access Management - We are HQ'ed in the US and have office in India. Our team is fully remote.">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}" media="print" onload="this.media='all'">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}" >
      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
    <script defer src="/assets/js/cookieconsent.js"></script>
    <script defer src="/assets/js/cookieconsent-init.js"></script>
    {% include header.html %} 
    {% include maps.html latitude="38.995972775842695" longitude=" -121.05367783785049" zoom="12" style="dark" %}
    {% include footer.html %}

<script src="/preline/dist/preline.js"></script>
</body>
</html>
