



 
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}" >

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=DM+Sans" />

    <style>
      
    </style>
  </head>
  <body class="antialiased">
<script defer src="/assets/js/cookieconsent.js"></script>
<script defer src="/assets/js/cookieconsent-init.js"></script>

{% include header.html %}
<!-- Hero -->

  
   

 
  
   

   
 
   <span >
    <div class="bg-white px-2 py-1 lg:px-6">
        
      <div class="mx-auto max-w-screen-xl text-base leading-7 text-gray-700">
        
   
      
        <div class="d-flex justify-content-between">
          <!-- author(s) -->
          <span>
            {% if page.author %}
              {% assign authors = page.author %}
            {% elsif page.authors %}
              {% assign authors = page.authors %}
            {% endif %}
      
            {{ site.data.locales[site.lang].post.written_by }}
      
            <em>
            {% if authors %}
              {% for author in authors %}
                <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
                {% unless forloop.last %}</em>, <em>{% endunless %}
              {% endfor %}
            {% else %}
              <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
            {% endif %}
            </em>
          </span>
        <p class="text-base font-semibold leading-7 text-indigo-600">blog</p>
        <h1 class="mt-2 text-3xl font-bold text-gray-900 sm:text-4xl"> {{page.title }} </h1>
        <div class="mt-10 max-w-4xl">
          {{ content }}
        </div>
      
       
      </div>
    </div>
     
    </span>
    </div>
  
 
  
         
  </div>
  <!-- End Hero -->



 

<div class="post-tail-wrapper text-muted">
 
  

</div><!-- div.post-tail-wrapper -->

{% include postbox.html %}
{% include footer.html %}

<script src="/preline/dist/preline.js"></script>
