<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include ga.html %} 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Passwordless Privileged Access Management - Platform Overview and how we compete with Cyberark, OKTA Advanced Server access and more.">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favico.png" | relative_url }}" >

      <link rel="canonical" href="https://authnull.com{{page.url}}" />

  </head>
  <body class="antialiased">
 
{% include header.html %}
{% include platform.html %}
{% include footer.html %}
<script src="/preline/dist/preline.js"></script>
  </body>
</html>