 
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="AuthNull Passwordless Privileged Access Management Webinars">
      <meta name="keywords" content="Privileged,access,management,PAM,passwordless,passwordless-for-servers">
      <meta name="robots" content="index">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" href="{{ "/assets/css/cookieconsent.css" | relative_url }}" media="print" onload="this.media='all'">
      <link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}" >

    <style>
      .blog-font{
        font-family:"DM Sans";
        font-size: 18px;
        line-height: 33px;
        font-weight: 400;
        color:rgb(36, 36, 36);
        
      }
    </style>
  </head>
  <body class="antialiased">
<script defer src="/assets/js/cookieconsent.js"></script>
<script defer src="/assets/js/cookieconsent-init.js"></script>

{% include header.html %}
<!-- Hero -->

<div class="container mx-auto md" style="width:75%; margin-top:10px;margin-bottom:10px;">
  <h1 data-toc-skip class="text-3xl">{{ page.title }}</h1>
  
   {{ content }}

  <div class="d-flex justify-content-between">
    <!-- author(s) -->
   

    
 
   <span class="blog-font">
    <br/>
    Please wait while we load your webinar page...

     
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

      
    </span>
    </div>
  
 
  
         
  </div>
  <!-- End Hero -->



 

<div class="post-tail-wrapper text-muted">
 
  

</div><!-- div.post-tail-wrapper -->

 {% include footer.html %}

<script src="/preline/dist/preline.js"></script>
<script>
  setTimeout("location.href = '{{ page.webinarurl }};','_blank';",2000);
  </script>